{% load staticfiles %} {% load i18n %}

{% block seo %}
<link rel="stylesheet" type="text/css" href="{% static 'vitrine/css/footer.css' %}">
{% endblock %}

{% block content %}
<footer class="ftco-footer ftco-bg-dark ftco-section">
			<div class="container">
				<div class="row mb-5">
					<div class="col-md-6 col-lg-4 t-a-c">
						<div class="ftco-footer-widget mb-5">
							<h2 class="ftco-heading-2">{% trans 'Une question ?' %}</h2>
							<div class="block-23 mb-3">
								<ul>
									<li class="ml-mr">
										<i class="fas fa-map-marker-alt icones_footer"></i>
										<span class="text">10, rue Notre-Dame de Lorette - 75009 PARIS</span>
									</li>
									<li class="ml-mr">
										<a aria-label="téléphone" href="tel:+33142829938">
											<i class="fas fa-phone-alt icones_footer"></i> 
											<span class="text">01 42 82 99 38 </span>
										</a>
									</li>
									<li class="ml-mr">
										<a aria-label="email" href="mailto:oxade@oxade.com" style="cursor: pointer;">
											<i class="fas fa-envelope icones_footer"></i> 
											<span class="text"><span class="__cf_email__" data-cfemail="a9c0c7cfc6e9d0c6dcdbcdc6c4c8c0c787cac6c4"> oxade@oxade.com</span></span>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 t-a-c">
						<div class="ftco-footer-widget mb-5 ml-md-4">
							<h2 class="ftco-heading-2">{% trans 'Pages' %}</h2>
							<ul class="list-unstyled">
								<li>
									<a aria-label="Accueil" href="{% url 'index_vitrine' %}">{% trans 'Accueil' %}</a>
								</li>
								<li>
									<a aria-label="Secteurs" href="{% url 'index_vitrine' %}#secteurs">{% trans 'Nos prestations' %}</a>
								</li>
								<li>
									<a aria-label="Événementiel" href="{% url 'a_propos' %}">{% trans 'À propos de nous' %}</a>
								</li>
								<li>
									<a aria-label="News" href="{% url 'news' %}">{% trans 'News' %}</a>
								</li>
								<li>
									<a aria-label="Événementiel" href="{% url 'nous_rejoindre' %}">{% trans 'Nous rejoindre' %}</a>
								</li>
								<li>
									<a aria-label="Contact" href="{% url 'contact' %}">{% trans 'Contact' %}</a>
								</li>
								<li>
									<a aria-label="Mentions légales" href="{% url 'mentions_legales' %}">{% trans 'Mentions légales' %}</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 t-a-c">
						<div class="ftco-footer-widget mb-5">
							<h2 class="ftco-heading-2 mb-0">{% trans 'Notre réseau' %}</h2>
							<ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-3">
								<li class="ftco-animate">
									<a aria-label="Linkedin" href="https://www.linkedin.com/company/oxade-consulting/"><i class="fab fa-linkedin reseaux"></i></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 text-center">
						<p>
							&copy;Copyright 
							
							<script type="e0d04e41b890f86bba8f9763-text/javascript">
								document.write(new Date().getFullYear());
							</script>
							 Oxade Consulting. {% trans 'Tous droits réservés' %}. 
						</p>
					</div>
				</div>
			</div>
		</footer>
{% endblock %}