{% load staticfiles %} {% load i18n %}

{% block seo %}
<link rel="stylesheet" type="text/css" href="{% static 'vitrine/css/navbar.css' %}">
{% endblock %}

{% block content %}


<style>
.all_nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  padding-left: 0px!important;
}

/*Quand on appuie sur le hamburger en tel et qu'on repasse en ordi*/
.container.responsive{
    display: table;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.links {
  float: right;
  padding-right: 21px;
}

.links_a {
  display: block;
  color: #013E5B!important;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px!important;
}

.fleche_blanche{
  margin-top: 14px;
}

.dropdown-content_langues {
    background-color: #fff;
    display: none;
    position: absolute;
    min-width: 65px;
    z-index: 2;
    height: 50px;
}

.icon_nav{
  display: none;
}

.logo_oxade{
    width: 126px;
    position: absolute;
    margin-top: 7px;
}

.icon_respon{
    list-style-type: none;
  }


.dropdown-content_tel {
    display: none;
    position: unset;
    background-color: #fff;
    min-width: 160px;
    z-index: 1;
}

.icon_respon a:hover{
  color: #30496b;
}

@media screen and (max-width: 991.98px){

  .all_nav li:not(:last-child){
    display:none;

  }

  .all_nav{
    padding-left: 15px!important;
  }

  .icon_nav{
    display: block!important;
    float: right;
    font-size: 32px;
    margin-top: 6px;
  }
  .display-block {
    display: flex!important;
    flex-direction: column;
    margin-left: 55px;
}

  .dropdown-content{
    display: none!important;
  }

  .container.responsive{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    list-style-type: none;
  }

  .links{
    float: none;
    padding: 0px;
  }

  .logo_oxade{
    position: unset;
  }

  .links_a {
  text-align: left;
  }
  .searchform{
    padding-left: 1px;
  }
}


@media (min-width: 576px) and (max-width: 768px){
    nav .container {
        max-width: 710px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px){
    nav .container {
        max-width: 900px;
    }
}
</style>
<nav style="display: flex;flex-direction: row-reverse;">
  <div class="icon_respon container" style="position: absolute;width: unset;"><a href="javascript:void(0);" class="icon_nav" onclick="responsive_nav()"><i class="fa fa-bars"></i></a></div>
  <ul class="all_nav container" id="navbar">
    
    <li class="links langues"><form  action="{% url 'set_language' %}" method="post" class="searchform order-lg-last links_a">
      {% csrf_token %}
    <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
      <div class="form-group d-flex" >
        <div class="dropdown_langues" >
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% if LANGUAGE_CODE == 'fr' %}
                    <a
                       lang="fr" aria-label="langue-fr" >
                        <picture>
                  <source type="image/webp" srcset="{% static 'vitrine/img/webp/drapeau_france.webp' %}">
                    <source type="image/png" srcset="{% static 'vitrine/img/drapeau_france.png' %}">
                  <img alt="logo-français" style="width: 31px;margin-left: 16px;" src="{% static 'vitrine/img/drapeau_france.png' %}">
                </picture>
                <i class="fa fa-caret-down " aria-hidden="true"></i>
                    </a>
                  <div class="dropdown-content_langues chang_fr">
                    <a href="/en{{ request.get_full_path|slice:'3:' }}"
                       lang="en" aria-label="langue-en" class="dropbtn ">
                       <picture>
                  <source type="image/webp" srcset="{% static 'vitrine/img/webp/drapeau_anglais.webp' %}">
                    <source type="image/png" srcset="{% static 'vitrine/img/drapeau_anglais.png' %}">
                  <img alt="logo-anglais"style="width: 31px;" src="{% static 'vitrine/img/drapeau_anglais.png' %}">
                </picture>
                <p style="float: right;margin-left: 10px;margin-top: 3px;color: #013E5B;">en</p>
                    </a>
                   </div>

            {% else %}
                   <a lang="en" aria-label="langue-en" class="dropbtn_langues chang_fr">
                        <picture>
                  <source type="image/webp" srcset="{% static 'vitrine/img/webp/drapeau_anglais.webp' %}">
                    <source type="image/png" srcset="{% static 'vitrine/img/drapeau_anglais.png' %}">
                  <img alt="logo-anglais"style="width: 31px" src="{% static 'vitrine/img/drapeau_anglais.png' %}">
                </picture>
                <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-content_langues chang_fr">
                      <a href="/fr{{ request.get_full_path|slice:'3:' }}"
                       lang="fr" aria-label="langue-fr" class="dropbtn chang_fr">
                          <picture>
                    <source type="image/webp" srcset="{% static 'vitrine/img/webp/drapeau_france.webp' %}">
                      <source type="image/png" srcset="{% static 'vitrine/img/drapeau_france.png' %}">
                    <img alt="logo-français" style="width: 31px;" src="{% static 'vitrine/img/drapeau_france.png' %}">
                  </picture>
                  <p style="float: right;margin-left: 10px;margin-top: 3px;color: #013E5B;">fr</p>
                      </a>
                   </div>
          {% endif %}
        </div>
      </div>
    </form>
          </li>
    <li class="links"><a href="{% url 'contact' %}" class="nav-link pl-0 links_a" style="margin-left: 17px;">{% trans 'Nous contacter' %}</a></li>
    <li class="links"><a href="{% url 'a_propos' %}" class="nav-link pl-0 links_a" style="margin-left: 17px;">{% trans 'Qui sommes-nous ?' %}</a></li>
    <li class="nav-item item-navbar-dropdown links" id="myDropdown2">
          
                    <li class="nav-item item-navbar-dropdown links" id="myDropdown1">
          <a aria-label="Offres" class="nav-link links_a" onclick="display_offres()" style="cursor: pointer;">{% trans 'Nos prestations' %}
            <picture>
              <source type="image/webp" srcset="{% static 'vitrine/img/webp/fleche_blanche.webp' %}">
                <source type="image/png" srcset="{% static 'vitrine/img/fleche_blanche.png' %}">
              <img class="fleche_blanche" alt="fleche-blanche" src="{% static 'vitrine/img/fleche_blanche.png' %}">
            </picture>
          </a>
            <div class="dropdown-content_tel dropdown_content_offres">
              <a aria-label="Coaching" href="{% url 'coaching' %}">{% trans 'Coaching' %}</a>
              <a aria-label="AMOA" href="{% url 'amoa' %}">{% trans 'Conseil & AMOA' %}</a>           
              <a aria-label="Divers 1" href="{% url 'index_vitrine' %}">{% trans 'Formation' %}</a>            
                                             
              </div>
          <div class="nav_sub_menu dropdown-content dropdown_content_offres" style="margin-top: 4px;">
            <div class="div_sub_menu">
              <div class="part_sub_menu1" style="min-height: 330px;">
                <div class="sub_menu_content">
                  <h2 class="nav_sub_menu_titre">{% trans 'Nos prestations' %}</h2>
                  <ul class="nav_sub_menu_list">
                    <li class="nav_sub_menu_list_item professionnel" onmouseover="myFunction6()"><a aria-label="Coaching" href="{% url 'coaching' %}">{% trans 'Coaching' %}</a></li>
                    <li class="nav_sub_menu_list_item professionnel" onmouseover="myFunction5()"><a aria-label="AMOA" href="{% url 'amoa' %}">{% trans 'Conseil & AMOA' %}</a></li>
                    <li style="margin-bottom: 24px;" class="nav_sub_menu_list_item professionnel" onmouseover="myFunction2()"><a aria-label="Divers 1" href="{% url 'index_vitrine' %}">{% trans 'Formation' %}</a></li>                                                      
                  </ul>
                </div>
              </div>
              <div class="part_sub_menu2 part_sub_menu2_a" id="a">
              </div>
              <div class="part_sub_menu2 part_sub_menu2_b" id="b">
                <div style="width: 50%;">
                  <h2 class="titre_sub_menu_a">{% trans 'Formation' %}</h2>
                  <p style="margin-left: 68px; margin-top: 21px;">
                    {% trans 'Page en cours de construction' %}
                  </p>
                </div>
              </div>

                  <div class="part_sub_menu2 part_sub_menu2_c" id="c">
                </div>

                  <div class="part_sub_menu2 part_sub_menu2_d" id="d">
                </div>
                  <div class="part_sub_menu2 part_sub_menu2_e" id="e">
                    <div style="width: 50%;">
                      <h2 class="titre_sub_menu_a">{% trans 'Conseil & AMOA' %}</h2>
                      <p style="margin-left: 68px; margin-top: 21px;">OXADE Consulting possède une expérience avérée des prestations de conseil qui s'inscrivent dans la durée et ce, pour les grands donneurs d'ordres.</p>
                </div>
                <div style="text-align: center; margin-right: 50px;">
                  <picture>
                    <source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_amoa.webp' %}">
                    <source type="image/png" srcset="{% static 'vitrine/img/logo_amoa.png' %}">
                    <img class="pc-particulier" style="width: 228px; margin-left: 76px;" src="{% static 'vitrine/img/logo_amoa.png' %}" alt="logo_amoa">
                  </picture>
                </div>

                  </div>
                  <div class="part_sub_menu2 part_sub_menu2_f show" id="f">
                    <div style="width: 50%;">
                      <h2 class="titre_sub_menu_a">{% trans 'Coaching' %}</h2>
                      <p style="margin-left: 68px; margin-top: 21px;">{% trans 'Nous proposons un processus d’accompagnement et de facilitation qui vise à vous permettre de trouver vous-même la solution à une problématique professionnelle opérationnelle ou managériale tout en travaillant sur votre épanouissement personnel.' %}</p>
                </div>
                <div style="text-align: center; margin-right: 50px;">
                  <picture>
                    <source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_coaching.webp' %}">
                    <source type="image/png" srcset="{% static 'vitrine/img/logo_coaching.png' %}">
                    <img class="pc-particulier" style="width: 400px;margin-top: 31px;margin-left: 16px;" src="{% static 'vitrine/img/logo_coaching.png' %}" alt="logo_coaching">
                  </picture>

                    </div>
                  </div>
                  <div class="part_sub_menu2 part_sub_menu2_g" id="g">
                </div>
                  <div class="part_sub_menu2 part_sub_menu2_h" id="h">
                  </div>

                    </li>
                <li class="links" style="float:left">
                  <a aria-label="Logo oxade"  href="{% url 'index_vitrine' %}">
                    <picture>
                      <source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_oxade.webp' %}">
                        <source type="image/png" srcset="{% static 'vitrine/img/logo_oxade.png' %}">
                      <img alt="bandeau-oxade-consulting"src="{% static 'vitrine/img/logo_oxade.png' %}" class="logo_oxade">
                    </picture>
                  </a>
                </li>
    
  </ul>
</nav>


<script>
// function myFunction() {
//   var x = document.getElementById("myNav");
//   var y = document.getElementById("myDropdown1");
//   var z = document.getElementById("myDropdown2");
//   var a = document.getElementsByClassName("dropdown_content_offres");
//   var b = document.getElementsByClassName("dropdown_content_secteur");
//   a[1].className = "nav_sub_menu dropdown-content dropdown_content_offres";
//   b[1].className = "nav_sub_menu dropdown-content dropdown_content_secteur";
//   if (x.className === "navbar-nav mr-auto") {
//     x.className += " responsive";
//     document.getElementById("mt1").className = "icon_nav mt1";
//     document.getElementById("drapeau").className = "drapeau2";
//     document.getElementById("mt2").className = "mt2";
//     document.getElementById("mt3").className = "logo_oxade_tel mt2";
//   } else {
//     x.className = "navbar-nav mr-auto";
//     document.getElementById("mt1").className = "icon_nav";
//     document.getElementById("drapeau").className = "drapeau";
//     document.getElementById("mt2").className = "";
//     document.getElementById("mt3").className = "logo_oxade_tel";
//   }

//   if (y.className === "nav-item item-navbar-dropdown") {
//     y.className = "nav-item hover";
//   } else {
//     y.className = "nav-item item-navbar-dropdown";
//   }

//   if (z.className === "nav-item item-navbar-dropdown") {
//     z.className = "nav-item hover";
//   } else {
//     z.className = "nav-item item-navbar-dropdown";
//   }

// }
var x = document.getElementById("navbar");
  if(window.innerWidth >= 991){
        var x = document.getElementById("navbar");
        x.className = "all_nav container";
  }
  
function responsive_nav(){
  var x = document.getElementById("navbar");
    if (x.className === "all_nav container"){
      x.className = "container responsive";
    }
    else{
      x.className = "all_nav container";
    }
}

function debug()
{
    if(window.innerWidth >= 991)
    {
        var x = document.getElementById("navbar");
        var y = document.getElementById("myDropdown1");
        var z = document.getElementById("myDropdown2");
        x.className = "all_nav container";
        y.className = "nav-item item-navbar-dropdown";
        z.className = "nav-item item-navbar-dropdown";
    }
}

function display_offres(){
  var x = document.getElementsByClassName("dropdown_content_offres");
  var y = document.getElementsByClassName("dropdown_content_secteur");
  if(window.innerWidth <= 991)
  {
    if(x[0].className == "dropdown-content_tel dropdown_content_offres")
    {
      
      x[0].className = "dropdown-content_tel dropdown_content_offres display-block";
      y[0].className = "dropdown-content_tel dropdown_content_secteur";
    }
    else
    {
      x[0].className = "dropdown-content_tel dropdown_content_offres";
    }
  }
  return;
}
function display_secteurs(){
  var y = document.getElementsByClassName("dropdown_content_offres");
  var x = document.getElementsByClassName("dropdown_content_secteur");
  if(window.innerWidth <= 991)
  {
    if(x[0].className == "dropdown-content_tel dropdown_content_secteur")
    {
      
      x[0].className = "dropdown-content_tel dropdown_content_secteur display-block";
      y[0].className = "dropdown-content_tel dropdown_content_offres";
    }
    else
    {
      x[0].className = "dropdown-content_tel dropdown_content_secteur";
    }
  }
  return;
}
function display_langue()
{
  {% if LANGUAGE_CODE == 'fr' %}
  if(document.getElementById("langue2").className == "dropdown-content_langues")
  {
    document.getElementById("langue2").className = "dropdown-content_langues display-block";
  }
  else
  {
    document.getElementById("langue2").className = "dropdown-content_langues"
  }
  {% else %}
  if(document.getElementById("langue3").className == "dropdown-content_langues")
  {
    document.getElementById("langue3").className = "dropdown-content_langues display-block";
  }
  else
  {
    document.getElementById("langue3").className = "dropdown-content_langues"
  }
  {% endif %}
}
</script>
{% endblock %}
