{% extends 'base_vitrine.html' %}
{% load staticfiles %}{% load i18n %}

{% block seo %}
<meta name="Description" content="{% trans 'Nos équipes combinent des experts métiers ainsi que des professionnels du conseil. Cette expertise nous permet de prendre en charge des projets complexes et le cas échéant d’intervenir sur des postes opérationnels.' %}">
<meta property="og:description" content="{% trans 'Nos équipes combinent des experts métiers ainsi que des professionnels du conseil. Cette expertise nous permet de prendre en charge des projets complexes et le cas échéant d’intervenir sur des postes opérationnels.' %}">
<meta property="og:title" content="OXADE Consulting | {% trans 'Assurance' %}">
<title>OXADE Consulting | {% trans 'Assurance' %}</title>

<link rel="stylesheet" type="text/css" href="{% static 'vitrine/css/secteurs.css' %}">
<script src="https://kit.fontawesome.com/b7aa201f58.js" crossorigin="anonymous"></script> 
{% endblock %}

{% block content %}

<style type="text/css">
	.img_offres_secteurs_assurance{
	width: 145px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    margin-top: 25px;
    display: block;
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.img_offres_secteurs_assurance{
	width: 132px; 
	}
}
.services:hover {
    background: #1b9ce300;
}

.middle{
	margin-top: 141px;
}

@media screen and (max-width: 991.98px) {
	.middle{
	margin-top: 0px!important;
}
}


</style>

<!--  Nous accompagnons les plus grands acteurs du secteur de l'assurance sur leurs enjeux de transformation. Notre conseil vous fait bénéficier des retours d'expériences de nos équipes mais aussi de nos missions sur des problématiques similaires. Pour chacun de ces enjeux, nous bénéficions d'expérience.-->
		<section class="hero-wrap hero-wrap-2 fond-defense">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-9 ftco-animate text-center">
						<h1 class="mb-2 bread">{% trans 'Assurance' %} </h1>
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section ftco-no-pb" >
			<div class="container">
				<div class="row d-flex">
					<div class="col-md-7 wrap-about pr-md-4 ftco-animate">
						<h2 class="mb-4">{% trans 'Vos enjeux' %}</h2>
						<p>{% trans 'Un marché soumis à de multiples transformations :​' %}</p>
						<ul>
							<li>{% trans 'Digital : Mobile / Multicanal / Big data / Objets connectés' %}</li>
							<li>{% trans 'Comportement : Volatilité des consommateurs / Exigence, prix et qualité de service / Nouvelles attentes sociales' %}</li>
							<li>{% trans 'Acteurs : Concentration du marché / Nouveaux entrants' %}</li>
							<li>{% trans 'Socio-économique​ : Vieillissement démographique / Crise durable / Pression structurelle des organismes publics (CNAV-CNAM) / Taux bas' %}</li>
							<li>{% trans 'Réglementaire : ANI / Contrats responsables / DSN / Loi Eckert / Solvabilité II / Loi Hamon' %}</li>
						</ul>
						<p>
							{% trans 'A l’heure actuelle, et probablement plus que jamais, de nombreux facteurs de transformation impactent le secteur de l’assurance. De toute évidence, Internet en a été l’un des principaux éléments déclencheurs dans le courant des années 90.' %}</br></br>
							
							{% trans 'Le secteur de l’assurance doit aujourd’hui affronter un environnement en mutation dans un contexte économique et financier qui se complexifie. Les évolutions réglementaires et fiscales, la recrudescence de sinistres catastrophiques, la contraction des marges et la concurrence nécessitent des modifications profondes que vos entités doivent appréhender. De la même manière, la globalisation du marché, l’évolution des demandes et l’émergence de nouveaux besoins ou de nouvelles technologies sont autant de défis pour les acteurs de l’assurance.' %} </br></br>

							{% trans 'Le client, qu’il soit particulier, professionnel ou entreprise, est plus informé, plus outillé et donc beaucoup plus exigeant. En un mot, il accorde une importance particulière à la valeur ajoutée délivrée. Cette exigence se porte sur le conseil, les services proposés, le traitement de ses demandes, la qualité de la relation, sans oublier les modalités d’achat ou de gestion de ses contrats.' %}</br> </br>

							{% trans 'Enfin, les business modèles des sous-jacents de l’assurance (les objets de risques) sont eux-mêmes en pleine révolution avec la voiture autonome, le bâtiment intelligent, les NBIC dans l’univers de la santé. Ces évolutions peuvent bouleverser le business model de l’assurance.' %}</br></br>
						</p>


					</div>
					<div class="col-md-5 order-md-last wrap-about align-items-stretch">
						<div class="wrap-about-border ftco-animate">
							<picture>
								<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_assurance.webp' %}">
								<source type="image/png" srcset="{% static 'vitrine/img/logo_assurance.png' %}">
								<img src="{% static 'vitrine/img/logo_assurance.png' %}" style="width: 100px;" alt="logo_assurance" class="img_offres_secteurs">
							</picture>
							
							<div class="text">
								<h3>{% trans 'Notre vision et notre ambition' %}</h3>
								<p>
									{% trans 'Nos équipes combinent des experts métiers ainsi que des professionnels du conseil. Cette expertise nous permet de prendre en charge des projets complexes et le cas échéant d’intervenir sur des postes opérationnels.' %}
								</p>
								<p>
									<a aria-label="Contactez-nous" href="{% url 'contact' %}" class="btn btn-primary py-3 px-4">{% trans 'Contactez-nous' %}</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

<section class="ftco-section ftco-no-pb" style="padding-top: 0px;">
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-12 wrap-about pr-md-4 ftco-animate">
				<div class="row mt-5">
					<div class="col-lg-4">
						<div class="services text-center">
							<div class="icon mt-2 d-flex justify-content-center align-items-center">
								<picture>
									<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_management.webp' %}">
									<source type="image/png" srcset="{% static 'vitrine/img/logo_management.png' %}">
									<img src="{% static 'vitrine/img/logo_management.png' %}" alt="logo_management" style="width: 65px;margin-bottom: 18px;"> 
								</picture>
							</div>
							<div class="text media-body">
								<h3 style="margin-bottom: 27px;">{% trans 'Accroître la connaissance client et valoriser la donnée' %}</h3>
							</div>
						</div>
						<div class="services text-center">
							<div class="icon mt-2 d-flex justify-content-center align-items-center">
								<picture>
									<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_rouages.webp' %}">
									<source type="image/png" srcset="{% static 'vitrine/img/logo_rouages.png' %}">
									<img src="{% static 'vitrine/img/logo_rouages.png' %}" alt="logo_rouages" style="width: 65px;margin-bottom: 18px;"> 
								</picture>
							</div>
							<div class="text media-body">

								<h3 style="margin-bottom: 27px;">{% trans 'Améliorer l’expérience client et repenser le modèle distributif (agence…)​' %}</h3>

							</div>
						</div>
					</div>
					<div class="col-lg-4 middle" >
						<div class="services text-center">
							<div class="icon mt-2 d-flex justify-content-center align-items-center">
								<picture>
									<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_cadenat.webp' %}">
									<source type="image/png" srcset="{% static 'vitrine/img/logo_cadenat.png' %}">
									<img src="{% static 'vitrine/img/logo_cadenat.png' %}" alt="logo_cadenat" style="width: 65px;margin-bottom: 18px;"> 
								</picture>
							</div>
							<div class="text media-body">
								<h3 style="margin-bottom: 27px;">{% trans 'Accroître la performance des organisations et digitaliser les processus​' %}</h3>
							</div>
						</div>
					</div>
				<div class="col-lg-4">
					<div class="services text-center">
							<div class="icon mt-2 d-flex justify-content-center align-items-center">
								<picture>
									<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_marche.webp' %}">
									<source type="image/png" srcset="{% static 'vitrine/img/logo_marche.png' %}">
									<img src="{% static 'vitrine/img/logo_marche.png' %}" alt="logo_marche" style="width: 65px;margin-bottom: 18px;"> 
								</picture>
							</div>
							<div class="text media-body">
								<h3 style="margin-bottom: 27px;">{% trans 'Maîtriser les risques et faire des évolutions réglementaires des opportunités​' %}</h3>
							</div>
						</div>
						<div class="services text-center">
							<div class="icon mt-2 d-flex justify-content-center align-items-center">
								<picture>
									<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_fiole.webp' %}">
									<source type="image/png" srcset="{% static 'vitrine/img/logo_fiole.png' %}">
									<img src="{% static 'vitrine/img/logo_fiole.png' %}" alt="logo_fiole" style="width: 65px;margin-bottom: 18px;"> 
								</picture>
							</div>
							<div class="text media-body">
								<h3 style="margin-bottom: 27px;">{% trans 'Favoriser l’innovation, l’expérimentation et les cycles courts​' %}</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
	
<!-- <section class=" ftco-counter" style="padding-bottom: 0">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-2 d-flex">
			<div class="col-md-6 align-items-stretch d-flex">
				<div class="img img-video d-flex align-items-center fond-defense">
					<div class="video justify-content-center">
						<a href="https://www.youtube.com/watch?v=BnrDJq1V4bw" class="icon-video popup-vimeo d-flex justify-content-center align-items-center"><i class="fas fa-play-circle play_button"></i></a></a>
					</div>
				</div>
			</div>
			<div class="col-md-6 heading-section ftco-animate pl-lg-5 pt-md-0 pt-5 fadeInUp ftco-animated">
				<h2 class="mb-4">Lorem ipsum dolor sit amet </h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur odio quam, sollicitudin at molestie ut, luctus ac enim. Suspendisse egestas lacinia dolor a sollicitudin. Donec efficitur, felis ac scelerisque semper, massa lorem facilisis lacus, eget faucibus sapien diam ut ex. Donec quis mattis odio, in fringilla elit.Ut accumsan felis a est fringilla hendrerit. Mauris ornare elit ac diam sagittis faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur odio quam, sollicitudin at molestie ut, luctus ac enim. 
				</p>
			</div>
		</div>
	</div>
</section> -->
{% endblock %}