{% extends 'base_vitrine.html' %}
{% load staticfiles %}{% load i18n %}

{% block seo %}
<meta name="Description" content="{% trans 'Nous intervenons depuis plus de 25 années dans le secteur public mobilisant notre expérience du secteur avec des professionnels expérimentés.' %}">
<meta property="og:description" content="{% trans 'Nous intervenons depuis plus de 25 années dans le secteur public mobilisant notre expérience du secteur avec des professionnels expérimentés.' %}">
<meta property="og:title" content="OXADE Consulting | {% trans 'Secteur public' %}">
<title>OXADE Consulting | {% trans 'Secteur public' %}</title>

<link rel="stylesheet" type="text/css" href="{% static 'vitrine/css/secteurs.css' %}">
<script src="https://kit.fontawesome.com/b7aa201f58.js" crossorigin="anonymous"></script>	
{% endblock %}

{% block content %}

<style type="text/css">
	.img_offres_secteurs_public{
    width: 165px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 43px;
    margin-top: 33px;
    display: block;
	}

@media (min-width: 768px) and (max-width: 991.98px) {
	.img_offres_secteurs_public{
		width: 152px; 
	}
}

.container_contact_us{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		border:4px solid #d1ebf9;
		padding-top: 30px;
    	padding-bottom: 19px;
	}



	.container_bouton{
		display: flex;
	    justify-content: center;
	    flex-direction: column;
	    align-items: center;
	    margin-bottom: 26px;
	    margin-left: 75px;
    	margin-right: 75px;

	}

	.liste_offres{
		margin-top: 0;
	    text-align: left;
	    margin-bottom: 1rem;
	    color: grey;
	}

	.secteurs:hover {
    background: #1b9ce300;
	}

	@media screen and (max-width: 991.98px){
		.container_contact_us {
		    display: flex;
		    flex-direction: row;
		    justify-content: center;
		    border: 4px solid #d1ebf9;
		    flex-wrap: wrap;
		}

		.text_contact {
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		    justify-content: center;
		    text-align: center;
		    padding: 30px;
		}

		.liste_offres {
		    margin-left: 11%;
		}

		.liste_contact{
			margin-left: auto;
			margin-right: auto;
		}
	}

	.double_listes{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
</style>

<section class="hero-wrap hero-wrap-2 fond-defense">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<h1 class="mb-2 bread">Secteur public</h1>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-no-pb" style="padding:0px;margin-top: 85px;">
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-12 wrap-about pr-md-4 ftco-animate">
				<p>
					Exigence de performance et de transparence, qualité de service et de la relation usager, préparation de l’avenir, enchaînement ininterrompu de réformes, le secteur public en France est pris dans une dynamique de transformation permanente qui met chaque jour au défi les organisations, les agents et le management des entités publiques.
				</p>
			</div>
		</div>
	</div>
</section>
<section style="margin-top: 35px;margin-bottom: 95px;
">
	<div class="container">
		<div class="row no-gutters">
			<a aria-label="Conduite du changement" class="col-lg-6 d-flex test">
				<div class="services-2 noborder-left text-center ftco-animate secteurs">
					<div class="icon mt-2 d-flex justify-content-center align-items-center">
						<picture>
							<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_deploiement.webp' %}">
							<source type="image/png" srcset="{% static 'vitrine/img/logo_deploiement.png' %}">
							<img src="{% static 'vitrine/img/logo_deploiement.png' %}" alt="logo_deploiement" style="width: 89px;"> 
						</picture>
					</div>
					<div class="text media-body" style="display: flex;flex-direction: column;align-items: center;">
						<h3 style="margin-bottom: 29px; color:#013E5B">{% trans 'Conseil stratégique' %}</h3>
						<p>
							Schéma directeur, Gouvernance de Systèmes d’Information, Audit et proposition de solutions (organisationnelles, techniques, urbanisation du Système d’Information), Etudes d’opportunité
						</p>
					</div>
				</div>
			</a>
			<a aria-label="Fusions et acquisitions" class="col-lg-6 d-flex test">
				<div class="services-2 text-center ftco-animate secteurs">
					<div class="icon mt-2 d-flex justify-content-center align-items-center">
						<picture>
							<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_analyse.webp' %}">
							<source type="image/png" srcset="{% static 'vitrine/img/logo_analyse.png' %}">
							<img src="{% static 'vitrine/img/logo_analyse.png' %}" alt="logo_analyse" style="width: 89px;">
						</picture>
					</div>
					<div class="text media-body" style="display: flex;flex-direction: column;align-items: center;">
						
						<h3 style="margin-bottom: 29px; color:#013E5B">{% trans 'Conseil opérationnel' %}</h3>
						<p>
							Nos interventions s’exercent en Assistance à la Maîtrise d’Ouvrage (AMOA) ou en Maîtrise d’Ouvrage (MOA) Déléguée, tant dans les phases amont d’instruction fonctionnelle que dans les phases aval d’accompagnement : <br>
							modélisation des processus métier, définition des besoins, définition de solutions, pilotage et coordination de projets, conduite d’appels d’offres, conduite de projets en Systèmes d’Information

						</p>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>

<section class="ftco-section ftco-no-pb" style="padding:0px;margin-top: 85px;">
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-12 wrap-about pr-md-4 ftco-animate">
				<h3 style="margin-bottom: 29px; color:#013E5B">{% trans 'Notre expertise' %}</h3>
				<p>
					Nous maîtrisons les grandes fonctions dites « de l’Entreprise » et les grandes fonctions transverses :
				</p>
				<ul>
					<li>Gestion d’entreprise (Gestion financière, Contrôle de gestion, Comptabilité, Gestion de l’activité…)</li>
					<li>Gestion technique (SCM, GPAO, GMAO, SGDT, logistique et transport…)</li>
					<li>Gestion technique (SCM, GPAO, GMAO, SGDT, logistique et transport…)</li>
					<li>Gestion des Ressources Humaines (suivant les différents statuts en vigueur dans le secteur public)</li>
					<li>Gestion des Ressources Humaines (suivant les différents statuts en vigueur dans le secteur public)</li>
					<li>Pilotage de l’activité (systèmes d’aide à la décision, d’aide au pilotage)</li>
					<li>et d’autres domaines fonctionnels spécifiquement liés à un secteur économique.</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section style="margin-top: 125px;margin-bottom: 125px;">
	<div class="container">
		<div class="container_contact_us">
			<div class="container_bouton">
				<picture>
					<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_public.webp' %}">
					<source type="image/png" srcset="{% static 'vitrine/img/logo_public.png' %}">
					<img src="{% static 'vitrine/img/logo_public.png' %}" alt="logo_coaching" class="img_offres_secteurs_public">
				</picture>
				<p>
					<a aria-label="Contactez-nous" href="{% url 'contact' %}" class="btn btn-primary py-3 px-4">{% trans 'Contactez-nous' %}</a>
				</p>
			</div>
			
			<div>
				<div class="text_contact">
					<h3>{% trans 'Notre vision et notre ambition' %}</h3>
				</div>
				<div class="liste_contact">
					<p>
						Vous accompagner sur les sujets suivants :
					</p>
					<ul>
						<li>Conception et spécification de Systèmes d’Information</li>
						<li>Urbanisation de Systèmes d’Information :</li>
						<li>Mise en cohérence du Système d’Information avec le « métier »</li>
						<li>Constitution de référentiels</li>
						<li>Définition de plans de convergence par paliers</li>
						<li>Identification des « quartiers fonctionnels » du Système d’Information, des fonctions et services transverses, et caractérisation des flux entre ces composants</li>
						<li>Refonte et optimisation de processus métier</li>
						<li>Aide à la conduite du changement et à l’obtention de consensus</li>
						<li>Accompagnement des projets de Systèmes d’Information : définition des besoins, préconisation / choix de solutions (progiciels / ERP, intégrateur), cahiers des charges, conception, conduite d’appels d’offres, pilotage de projets, accompagnement des phases projet aval…</li>
						<li>Définition et construction de Systèmes d’Information de Pilotage, Systèmes d’Information Décisionnels, Indicateurs de pilotage et de performance</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- 		<section class="ftco-counter" style="padding-bottom: 0">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-2 d-flex">
			<div class="col-md-6 align-items-stretch d-flex">
				<div class="img img-video d-flex align-items-center fond-defense">
					<div class="video justify-content-center">
						<a href="https://www.youtube.com/watch?v=BnrDJq1V4bw" class="icon-video popup-vimeo d-flex justify-content-center align-items-center"><i class="fas fa-play-circle play_button"></i></a></a>
					</div>
				</div>
			</div>
			<div class="col-md-6 heading-section ftco-animate pl-lg-5 pt-md-0 pt-5 fadeInUp ftco-animated">
				<h2 class="mb-4">Lorem ipsum dolor sit amet </h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur odio quam, sollicitudin at molestie ut, luctus ac enim. Suspendisse egestas lacinia dolor a sollicitudin. Donec efficitur, felis ac scelerisque semper, massa lorem facilisis lacus, eget faucibus sapien diam ut ex. Donec quis mattis odio, in fringilla elit.Ut accumsan felis a est fringilla hendrerit. Mauris ornare elit ac diam sagittis faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur odio quam, sollicitudin at molestie ut, luctus ac enim. 
				</p>
			</div>
		</div>
	</div>
</section> -->
{% endblock %}