{% extends 'base_vitrine.html' %}
{% load staticfiles %}{% load i18n %}

{% block seo %}
<meta name="Description" content="{% trans 'Des équipes soudées par un bon esprit, au service d’un même objectif : la réussite des projets de nos clients.' %}">
<meta property="og:description" content="{% trans 'Des équipes soudées par un bon esprit, au service d’un même objectif : la réussite des projets de nos clients.' %}">
<meta property="og:title" content="OXADE Consulting | {% trans 'AMOA' %}">
<title>{% trans 'Conseil & AMOA' %} | OXADE Consulting</title>

<link rel="stylesheet" type="text/css" href="{% static 'vitrine/css/secteurs.css' %}">
<script src="https://kit.fontawesome.com/b7aa201f58.js" crossorigin="anonymous"></script>	
{% endblock %}

{% block content %}

<style type="text/css">
	.img_offres_secteurs_public{
    width: 165px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 43px;
    margin-top: 33px;
    display: block;
	}

@media (min-width: 768px) and (max-width: 991.98px) {
	.img_offres_secteurs_public{
		width: 152px; 
	}
}

.container_contact_us{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		border:4px solid #d1ebf9;
		padding-top: 30px;
    	padding-bottom: 19px;
	}



	.container_bouton{
		display: flex;
	    justify-content: center;
	    flex-direction: column;
	    align-items: center;
	    margin-bottom: 26px;
	    margin-left: 75px;
    	margin-right: 75px;

	}

	.liste_offres{
		margin-top: 0;
	    text-align: left;
	    margin-bottom: 1rem;
	    color: grey;
	}

	.secteurs:hover {
    background: #1b9ce300;
	}

	@media screen and (max-width: 991.98px){
		.container_contact_us {
		    display: flex;
		    flex-direction: row;
		    justify-content: center;
		    border: 4px solid #d1ebf9;
		    flex-wrap: wrap;
		}

		.text_contact {
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		    justify-content: center;
		    text-align: center;
		    padding: 30px;
		}

		.liste_offres {
		    margin-left: 11%;
		}

		.liste_contact{
			margin-left: auto;
			margin-right: auto;
		}
	}

	.double_listes{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
</style>

<section class="hero-wrap hero-wrap-2 fond-defense">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<h1 class="mb-2 bread">Conseil & AMOA</h1>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-no-pb" style="padding:0px;margin-top: 85px;">
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-12 wrap-about pr-md-4 ftco-animate">
				<p style="text-align: justify;">
					OXADE Consulting possède une expérience avérée des prestations de conseil qui s'inscrivent dans la durée et ce, pour les grands donneurs d'ordres. Notre apport se situe à la croisée des chemins entre une connaissance fonctionnelle métier et une expertise d'ordre méthodologique et technique en Systèmes d'Information.

				</p>
			</div>
		</div>
	</div>
</section>
<section style="margin-top: 35px;margin-bottom: 95px;
">
	<div class="container">
		<div class="row no-gutters">
			<a aria-label="Conduite du changement" class="col-lg-6 d-flex test">
				<div class="services-2 noborder-left text-center ftco-animate secteurs">
					<div class="icon mt-2 d-flex justify-content-center align-items-center">
						<picture>
							<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_analyse.webp' %}">
							<source type="image/png" srcset="{% static 'vitrine/img/logo_analyse.png' %}">
							<img src="{% static 'vitrine/img/logo_analyse.png' %}" alt="logo_analyse" style="width: 89px;"> 
						</picture>
					</div>
					<div class="text media-body" style="display: flex;flex-direction: column;align-items: center;">
						<h3 style="margin-bottom: 29px; color:#013E5B">{% trans 'Conseil stratégique' %}</h3>
						<p>
							Schéma directeur, Gouvernance de Systèmes d’Information, Audit et proposition de solutions (organisationnelles, techniques, urbanisation du Système d’Information), etudes d’opportunité.
						</p>
					</div>
				</div>
			</a>
			<a aria-label="Fusions et acquisitions" class="col-lg-6 d-flex test">
				<div class="services-2 text-center ftco-animate secteurs">
					<div class="icon mt-2 d-flex justify-content-center align-items-center">
						<picture>
							<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_croissance.webp' %}">
							<source type="image/png" srcset="{% static 'vitrine/img/logo_croissance.png' %}">
							<img src="{% static 'vitrine/img/logo_croissance.png' %}" alt="logo_croissance" style="width: 89px;">
						</picture>
					</div>
					<div class="text media-body" style="display: flex;flex-direction: column;align-items: center;">
						
						<h3 style="margin-bottom: 29px; color:#013E5B">{% trans 'Conseil opérationnel' %}</h3>
						<p>
							Nos interventions s’exercent en Assistance à la Maîtrise d’Ouvrage (AMOA) ou en Maîtrise d’Ouvrage (MOA) Déléguée, tant dans les phases amont d’instruction fonctionnelle que dans les phases aval d’accompagnement : <br>
							modélisation des processus métier, définition des besoins, définition de solutions, pilotage et coordination de projets, conduite d’appels d’offres, conduite de projets en Systèmes d’Information.

						</p>
					</div>
				</div>
			</a>
		</div>
		<div class="row no-gutters">
			<a aria-label="Conduite du changement" class="col-lg-6 d-flex test">
				<div class="services-2 noborder-left text-center ftco-animate secteurs">
					<div class="icon mt-2 d-flex justify-content-center align-items-center">
						<picture>
							<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_communication.webp' %}">
							<source type="image/png" srcset="{% static 'vitrine/img/logo_communication.png' %}">
							<img src="{% static 'vitrine/img/logo_communication.png' %}" alt="logo_communication" style="width: 89px;"> 
						</picture>
					</div>
					<div class="text media-body" style="display: flex;flex-direction: column;align-items: center;">
						<h3 style="margin-bottom: 29px; color:#013E5B">{% trans 'Accompagnement ' %}</h3>
						<p>
							Refonte et optimisation de processus, conduite du changement, aide à l'obtention de consensus, pilotage et coordination de projets et de programmes, coaching, management de transition.

						</p>
					</div>
				</div>
			</a>
			<a aria-label="Fusions et acquisitions" class="col-lg-6 d-flex test">
				<div class="services-2 text-center ftco-animate secteurs">
					<div class="icon mt-2 d-flex justify-content-center align-items-center">
						<picture>
							<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_deploiement.webp' %}">
							<source type="image/png" srcset="{% static 'vitrine/img/logo_deploiement.png' %}">
							<img src="{% static 'vitrine/img/logo_deploiement.png' %}" alt="logo_deploiement" style="width: 89px;">
						</picture>
					</div>
					<div class="text media-body" style="display: flex;flex-direction: column;align-items: center;">
						
						<h3 style="margin-bottom: 29px; color:#013E5B">{% trans 'Pilotage de la transformation digitale' %}</h3>
						<p>
							Accompagnement des projets de Systèmes d'Information : définition des besoins, préconisation / choix de solutions (progiciels / ERP, intégrateur), cahiers des charges, conception, conduite d'appels d'offres, pilotage de projets, accompagnement des phases projet aval...

						</p>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>

{% endblock %}