{% extends 'base_vitrine.html' %}
{% load staticfiles %} {% load i18n %}

{% block seo %}
<meta name="Description" content="{% trans 'À l’interface de nombreux métiers de l’entreprise, nous conçevons et organisons l’ensemble des serveurs, des systèmes d’exploitation, des ordinateurs, des logiciels...' %}">
<meta property="og:description" content="{% trans 'À l’interface de nombreux métiers de l’entreprise, nous conçevons et organisons l’ensemble des serveurs, des systèmes d’exploitation, des ordinateurs, des logiciels...' %}">
<meta property="og:title" content="OXADE Consulting | {% trans 'Systèmes d’information' %}">
<title>OXADE Consulting | {% trans 'Systèmes d’information' %}</title>

<link rel="stylesheet" type="text/css" href="{% static 'vitrine/css/offres.css' %}">
<script src="https://kit.fontawesome.com/b7aa201f58.js" crossorigin="anonymous"></script>

{% endblock %}

{% block content %}

<style type="text/css">
	.container_contact_us{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		border:4px solid #d1ebf9;
	}

	.text_contact{
		display: flex;
	    flex-direction: column;
	    align-items: flex-start;
	    justify-content: center;
	}

	.container_bouton{
		display: flex;
	    justify-content: center;
	    flex-direction: column;
	    align-items: center;
	    margin-bottom: 26px;
	}

	.liste_offres{
		margin-top: 0;
	    text-align: left;
	    margin-bottom: 1rem;
	    color: grey;
	}

	.secteurs:hover {
    background: #1b9ce300;
	}

	.img_offres_secteurs_excellence{
		width: 180px;
		margin: 64px;
	}


	@media screen and (max-width: 991.98px){
		.container_contact_us {
		    display: flex;
		    flex-direction: row;
		    justify-content: center;
		    border: 4px solid #d1ebf9;
		    flex-wrap: wrap;
		}

		.text_contact {
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		    justify-content: center;
		    text-align: center;
		    padding: 30px;
		}

		.liste_offres {
		    margin-left: 11%;
		}
	}
</style>

<section class="hero-wrap hero-wrap-2 fond-defense">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<h1 class="mb-2 bread">{% trans 'Systèmes d’information' %} </h1>
			</div>
		</div>
	</div>
</section>





<section style="margin-top: 125px;">
	<div class="container">
		<div class="row no-gutters">
			
			<a aria-label="Sécurité" class="col-lg-6 d-flex test">
				<div class="services-2 noborder-left noborder-bottom text-center ftco-animate secteurs">
					<div class="icon mt-2 d-flex justify-content-center align-items-center">
						<picture>
							<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_communication.webp' %}">
							<source type="image/png" srcset="{% static 'vitrine/img/logo_communication.png' %}">
							<img src="{% static 'vitrine/img/logo_communication.png' %}" alt="logo_communication" style="width: 144px;margin-top: -20px; margin-bottom: -28px;"> 
						</picture>
					</div>
					<div class="text media-body" style="display: flex;flex-direction: column;align-items: center;">
						<h3 style="margin-bottom: 29px; color:#013E5B">{% trans 'Architecture d’entreprise et data​' %}</h3>
						<ul class="liste_offres">
							<li>{% trans 'Urbanisation et schémas directeurs SI​' %}</li>
							<li>{% trans 'Bureaux d’Architectes​' %}</li>
							<li>{% trans 'Data management : Big data, data gouvernance​' %}</li>
						</ul>
					</div>
				</div>
			</a>
			<a aria-label="Réglementaire" class="col-lg-6 d-flex test">
				<div class="services-2 text-center noborder-bottom ftco-animate secteurs">
					<div class="icon mt-2 d-flex justify-content-center align-items-center">
						<picture>
							<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_croissance.webp' %}">
							<source type="image/png" srcset="{% static 'vitrine/img/logo_croissance.png' %}">
							<img src="{% static 'vitrine/img/logo_croissance.png' %}" alt="logo_croissance" style="width: 74px;margin-top: 14px;margin-bottom: 22px;">
						</picture>
					</div>
					<div class="text media-body" style="display: flex;flex-direction: column;align-items: center;">
						<h3 style="margin-bottom: 29px; color:#013E5B">{% trans 'Cloud et infrastructure' %}</h3>
						<ul class="liste_offres">
							<li>{% trans 'Cloud Privé / Public / Hybride​' %}</li>
							<li>{% trans 'Hébergement et datacenter​' %}</li>
							<li>{% trans 'Infrastructure et virtualisation​' %}</li>
							<li>{% trans 'Agile Delivery​' %}</li>
						</ul>
					</div>
				</div>
			</a>
			<a aria-label="Conduite du changement" class="col-lg-12 d-flex test">
				<div class="services-2 noborder-left text-center ftco-animate secteurs">
					<div class="icon mt-2 d-flex justify-content-center align-items-center">
						<picture>
							<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_deploiement.webp' %}">
							<source type="image/png" srcset="{% static 'vitrine/img/logo_deploiement.png' %}">
							<img src="{% static 'vitrine/img/logo_deploiement.png' %}" alt="logo_deploiement" style="width: 89px;"> 
						</picture>
					</div>
					<div class="text media-body" style="display: flex;flex-direction: column;align-items: center;">
						<h3 style="margin-bottom: 29px; color:#013E5B">{% trans 'Digital workplace' %}</h3>
						<ul class="liste_offres">
							<li>{% trans 'Poste de travail, end-user devices, end-user services​' %}</li>
							<li>{% trans 'Messagerie et services collaboratifs​' %}</li>
							<li>{% trans 'Mobilité et objets connectés​' %}</li>
						</ul>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>


<section style="margin-top: 125px;margin-bottom: 125px;">
	<div class="container">
		<div class="container_contact_us">
			<div class="container_bouton">
				<picture>
					<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_conduite.webp' %}">
					<source type="image/png" srcset="{% static 'vitrine/img/logo_conduite.png' %}">
					<img src="{% static 'vitrine/img/logo_conduite.png' %}" alt="logo_conduite" class="img_offres_secteurs_excellence">
				</picture>
				<p>
					<a aria-label="Contactez-nous" href="{% url 'contact' %}" class="btn btn-primary py-3 px-4">{% trans 'Contactez-nous' %}</a>
				</p>
			</div>
			
			<div class="text_contact">
				<h3>{% trans 'Notre vision et notre ambition' %}</h3>
				<p>
					{% trans 'À l’interface de nombreux métiers de l’entreprise, nous conçevons et organisons l’ensemble des serveurs, des systèmes d’exploitation, des ordinateurs, des logiciels, etc. Afin de les adapter aux besoins des utilisateurs' %}
				</p>
			</div>
		</div>
	</div>
</section>

{% endblock %}