{% extends 'base_vitrine.html' %}
{% load staticfiles %} {% load i18n %}

{% block seo %}
<meta name="Description" content="{% trans 'Gestion de projets, finance d’entreprise​ et Lean – Six Sigma.' %}">
<meta property="og:description" content="{% trans 'Gestion de projets, finance d’entreprise​ et Lean – Six Sigma.' %}">
<meta property="og:title" content="OXADE Consulting | {% trans 'Autres' %}">
<title>OXADE Consulting | {% trans 'Autres' %}</title>

<link rel="stylesheet" type="text/css" href="{% static 'vitrine/css/offres.css' %}">
<script src="https://kit.fontawesome.com/b7aa201f58.js" crossorigin="anonymous"></script>

{% endblock %}

{% block content %}

<style type="text/css">
	.container_contact_us{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		border:4px solid #d1ebf9;
	}

	.text_contact{
		display: flex;
	    flex-direction: column;
	    align-items: flex-start;
	    justify-content: center;
	}

	.container_bouton{
		display: flex;
	    justify-content: center;
	    flex-direction: column;
	    align-items: center;
	    margin-bottom: 26px;
	}

	.liste_offres{
		margin-top: 0;
	    text-align: left;
	    margin-bottom: 1rem;
	    color: grey;
	}

	.secteurs:hover {
    background: #1b9ce300;
	}

	.img_offres_secteurs_excellence{
		width: 180px;
		margin: 64px;
	}


	@media screen and (max-width: 991.98px){
		.container_contact_us {
		    display: flex;
		    flex-direction: row;
		    justify-content: center;
		    border: 4px solid #d1ebf9;
		    flex-wrap: wrap;
		}

		.text_contact {
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		    justify-content: center;
		    text-align: center;
		    padding: 30px;
		}

		.liste_offres {
		    margin-left: 11%;
		}
	}

	.bouton_contact{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 105px;
    	margin-bottom: 65px;
	}
</style>

<section class="hero-wrap hero-wrap-2 fond-defense">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<h1 class="mb-2 bread">{% trans 'Autres' %} </h1>
			</div>
		</div>
	</div>
</section>

<section style="margin-top: 125px;">
	<div class="container">
		<div class="row no-gutters">
						
			<a aria-label="Conduite du changement" class="col-lg-6 d-flex test">
				<div class="services-2 noborder-left text-center ftco-animate secteurs">
					<div class="icon mt-2 d-flex justify-content-center align-items-center">
						<picture>
							<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_deploiement.webp' %}">
							<source type="image/png" srcset="{% static 'vitrine/img/logo_deploiement.png' %}">
							<img src="{% static 'vitrine/img/logo_deploiement.png' %}" alt="logo_deploiement" style="width: 89px;"> 
						</picture>
					</div>
					<div class="text media-body" style="display: flex;flex-direction: column;align-items: center;">
						<h3 style="margin-bottom: 29px; color:#013E5B">{% trans 'Gestion de projets' %}</h3>
						<ul class="liste_offres">
							<li>{% trans 'Direction de programmes et de projets​' %}</li>
							<li>{% trans 'PMO​' %}</li>
							<li>{% trans 'Gestion de portefeuilles​' %}</li>
						</ul>
					</div>
				</div>
			</a>
			<a aria-label="Sécurité" class="col-lg-6 d-flex test">
				<div class="services-2 noborder-left noborder-bottom text-center ftco-animate secteurs">
					<div class="icon mt-2 d-flex justify-content-center align-items-center">
						<picture>
							<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_communication.webp' %}">
							<source type="image/png" srcset="{% static 'vitrine/img/logo_communication.png' %}">
							<img src="{% static 'vitrine/img/logo_communication.png' %}" alt="logo_communication" style="width: 144px;margin-top: -20px; margin-bottom: -28px;"> 
						</picture>
					</div>
					<div class="text media-body" style="display: flex;flex-direction: column;align-items: center;">
						<h3 style="margin-bottom: 29px; color:#013E5B">{% trans 'Finance d’entreprise​' %}</h3>
						<ul class="liste_offres">
							<li>{% trans 'Stratégie financière, pilotage de la performance & gestion du bilan​' %}</li>
							<li>{% trans 'Aide à la prise de décision intégrant une dominante financière : croissance externe, analyse financière de plan stratégique, diversification …' %}</li>
							<li>{% trans 'Montage de dossiers financiers​' %}</li>
							<li>{% trans 'Gestion de crise / redressement' %}</li>
						</ul>
					</div>
				</div>
			</a>
			<!-- <a aria-label="Sécurité" class="col-lg-12 d-flex test">
				<div class="services-2 noborder-left noborder-bottom text-center ftco-animate secteurs">
					<div class="icon mt-2 d-flex justify-content-center align-items-center">
						<picture>
							<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_communication.webp' %}">
							<source type="image/png" srcset="{% static 'vitrine/img/logo_communication.png' %}">
							<img src="{% static 'vitrine/img/logo_communication.png' %}" alt="logo_communication" style="width: 144px;margin-top: -20px; margin-bottom: -28px;"> 
						</picture>
					</div>
					<div class="text media-body" style="display: flex;flex-direction: column;align-items: center;">
						<h3 style="margin-bottom: 29px; color:#013E5B">{% trans 'Lean – Six Sigma' %}</h3>
						<ul class="liste_offres">
							<li>{% trans 'A compléter' %}</li>
						</ul>
					</div>
				</div>
			</a> -->
		</div>
	</div>
</section>

<section class="bouton_contact">
		<p>
			<a style="padding-left: 125px!important;padding-right: 125px!important;" aria-label="Contactez-nous" href="{% url 'contact' %}" class="btn btn-primary py-3 px-4">{% trans 'Contactez-nous' %}</a>
		</p>
</section>


{% endblock %}