{% extends 'base_vitrine.html' %}
{% load staticfiles %} {% load i18n %}

{% block seo %}
<meta name="Description" content="{% trans 'Nous proposons un processus d’accompagnement et de facilitation qui vise à vous permettre de trouver vous-même la solution à une problématique professionnelle opérationnelle ou managériale tout en travaillant sur votre épanouissement personnel.' %}">
<meta property="og:description" content="{% trans 'Nous proposons un processus d’accompagnement et de facilitation qui vise à vous permettre de trouver vous-même la solution à une problématique professionnelle opérationnelle ou managériale tout en travaillant sur votre épanouissement personnel.' %}">
<meta property="og:title" content="OXADE Consulting | {% trans 'Coaching' %}">
<title>{% trans 'Coaching' %} | OXADE Consulting</title>

<link rel="stylesheet" type="text/css" href="{% static 'vitrine/css/secteurs.css' %}">
<script src="https://kit.fontawesome.com/b7aa201f58.js" crossorigin="anonymous"></script> 	
{% endblock %}

{% block content %}

<style type="text/css">
.img_offres_secteurs{
	width: 275px; 
	margin-left: auto ;
	margin-right: auto;
	margin-bottom: 59px;
	margin-top: 33px;
	display: block;
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.img_offres_secteurs{
	width: 222px; 
	}
}
.services:hover {
    background: #1b9ce300;
}

.middle{
	margin-top: 361px;
}

@media screen and (max-width: 991.98px) {
	.middle{
	margin-top: 0px!important;
}
}

</style>

		<section class="hero-wrap hero-wrap-2 fond-defense"> 
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters slider-text align-items-center justify-content-center">
					<div class="col-md-9 ftco-animate text-center">
						<h1 class="mb-2 bread">{% trans 'Coaching' %} </h1>
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section ftco-no-pb" style="padding-bottom: 48px;">
			<div class="container">
				<div class="row d-flex">
					<div class="col-md-7 wrap-about pr-md-4 ftco-animate">
						<h2 class="mb-4">{% trans 'Le coaching est une offre stratégique pour OXADE Consulting.' %}</h2>
						<p>
							{% trans 'Dans un monde du travail se complexifiant chaque jour, avec toujours plus de contraintes et de règlementations à prendre en compte, avec un grand nombre de contributeurs ou de partenaires à gérer pour produire et avec un time to market toujours plus réduit, l’accompagnement humain est pour OXADE Consulting une pièce maitresse vers le succès.' %}</br></br>

							{% trans 'Nous proposons un processus d’accompagnement et de facilitation qui vise à vous permettre de trouver la solution à une problématique opérationnelle ou managériale tout en travaillant sur votre épanouissement personnel.' %}</br></br>

							{% trans 'Nos coachs sont d’anciens membres de Directions générales ou d’anciens responsables opérationnels : Assurance, Distribution, Finances, Services, Industrie…' %}</br> </br>

							{% trans 'Nous intervenons principalement sur des problématiques de transformation (Fusion, création d’entités, changement de stratégie…), de prise de fonction et de développement de talents. Autant de contextes où l’humain est fondamental pour la réussite de vos projets.' %}</br></br>

							{% trans 'Nous utilisons les outils reconnus du marché en terme de coaching : HBDI ©, MBTI ©, Strong © , 360° ©' %}</br> </br>
						</p>
					</div>
					<div class="col-md-5 order-md-last wrap-about align-items-stretch">
						<div class="wrap-about-border ftco-animate">
							<picture>
								<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_banque.webp' %}">
								<source type="image/png" srcset="{% static 'vitrine/img/logo_banque.png' %}">
								<img src="{% static 'vitrine/img/logo_banque.png' %}" alt="logo_banque" class="img_offres_secteurs">
							</picture>
							
							<div class="text">
								<h3>{% trans 'Notre vision et notre ambition' %}</h3>
								<p>
									{% trans 'Nous proposons un processus d’accompagnement et de facilitation qui vise à vous permettre de trouver vous-même la solution à une problématique professionnelle opérationnelle ou managériale tout en travaillant sur votre épanouissement personnel.' %}
								</p>
								<p style="text-align: center;">
									<a aria-label="Contactez-nous" href="{% url 'contact' %}" class="btn btn-primary py-3 px-4">{% trans 'Contactez-nous' %}</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

<section style="margin-top: 35px;margin-bottom: 95px;
">
	<div class="container">
		<div class="row no-gutters">
			<a aria-label="Conduite du changement" class="col-lg-6 d-flex test">
				<div class="services-2 noborder-left text-center ftco-animate secteurs" style="border-top: 1px solid rgba(0, 0, 0, .05);">
					<div class="icon mt-2 d-flex justify-content-center align-items-center">
						<picture>
							<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_analyse.webp' %}">
							<source type="image/png" srcset="{% static 'vitrine/img/logo_analyse.png' %}">
							<img src="{% static 'vitrine/img/logo_analyse.png' %}" alt="logo_analyse" style="width: 89px;"> 
						</picture>
					</div>
					<div class="text media-body" style="display: flex;flex-direction: column;align-items: center;">
						<h3 style="margin-bottom: 29px; color:#013E5B">{% trans 'Direction Manager' %}</h3>
						<p>
							Il s’agit de réaliser un véritable accompagnement professionnel hors de la sphère strictement professionnelle. C’est le coaching stricto sensu.
						</p>
					</div>
				</div>
			</a>
			<a aria-label="Fusions et acquisitions" class="col-lg-6 d-flex test">
				<div class="services-2 text-center ftco-animate secteurs" style="border-top: 1px solid rgba(0, 0, 0, .05);">
					<div class="icon mt-2 d-flex justify-content-center align-items-center">
						<picture>
							<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_croissance.webp' %}">
							<source type="image/png" srcset="{% static 'vitrine/img/logo_croissance.png' %}">
							<img src="{% static 'vitrine/img/logo_croissance.png' %}" alt="logo_croissance" style="width: 89px;">
						</picture>
					</div>
					<div class="text media-body" style="display: flex;flex-direction: column;align-items: center;">
						
						<h3 style="margin-bottom: 29px; color:#013E5B">{% trans 'Equipes Organisation' %}</h3>
						<p>
							Nous parlerons ici plus de mentoring. Le mentor ayant un rôle de guide et agissant au contraire du coach pour une organisation.
						</p>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>
{% endblock %}