{% extends 'base_vitrine.html' %} 
{% load staticfiles %}

{% block seo %}
<meta name="Description" content="Conseil stratégique et opérationnel en systèmes d'information">
<meta property="og:description" content="Conseil stratégique et opérationnel en systèmes d'information">
<meta property="og:title" content="Oxade | Reglementaire">
<title>Oxade | Reglementaire</title>

<link rel="stylesheet" type="text/css" href="{% static 'vitrine/css/offres.css' %}">
<script src="https://kit.fontawesome.com/b7aa201f58.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap" rel="stylesheet"> 

{% endblock %}

{% block content %}



<section class="hero-wrap hero-wrap-2 fond-defense">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<h1 class="mb-2 bread">Réglementaire</h1>
				<p class="breadcrumbs">
					<span class="mr-2">
						<a aria-label="Offres" href="{% url 'index_vitrine' %}#offres">Offres <i class="fas fa-chevron-right"></i></a>
					</span>
					<span>Réglementaire <i class="fas fa-chevron-right"></i></span>
				</p>
			</div>
		</div>
	</div>
</section>
<section class="ftco-section ftco-no-pb" style="margin-bottom: 115px;">
			<div class="container">
				<div class="row d-flex">
					<div class="col-md-5 order-md-last wrap-about align-items-stretch">
						<div class="wrap-about-border ftco-animate">
							<picture>
								<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_reglementaire.webp' %}">
								<source type="image/png" srcset="{% static 'vitrine/img/logo_reglementaire.png' %}">
								<img src="{% static 'vitrine/img/logo_reglementaire.png' %}" alt="logo_reglementaire" style="width: 216px;margin-left: 94px;margin-bottom: 28px;margin-top: 22px;">
							</picture>
							
							<div class="text">
								<h3>Notre vision et notre ambition</h3>
								<p>
									Notre métier nous amène fréquemment à accompagner nos clients dans la mise en conformité suite à des évolutions règlementaires, qu’elles soient européennes (DDA, RGPD, Solvabilité II, LCB/FT, IFRS, PRIIPS, IDD,…) ou françaises (prélèvement à la source, ANI, contrats responsables, ACS, TPG, Loi Hamon, Loi Eckert, Loi Sapin 2, …).
								</p>
								<p>
									<a aria-label="Contactez-nous" href="{% url 'contact' %}" class="btn btn-primary py-3 px-4">Contactez-nous</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-7 wrap-about pr-md-4 ftco-animate">
						<h2 class="mb-4">Nos réalisations</h2>
						<p>
							Que nous soyons en amont (études d’impacts / cadrage / plan d’actions) ou en aval (assistance à la mise en place des actions identifiées), nos interventions consistent à apporter notre veille sectorielle de ces évolutions, à coordonner les différents acteurs internes impactés et piloter la mise en œuvre afin de sécuriser la mise en conformité de nos clients dans les délais impartis.
						</p>
						<div class="row mt-5">
							<div class="col-lg-6">
								<div class="services text-center">
									<div class="icon mt-2 d-flex justify-content-center align-items-center">
										<picture>
											<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_opti-gestion.webp' %}">
											<source type="image/png" srcset="{% static 'vitrine/img/logo_opti-gestion.png' %}">
											<img src="{% static 'vitrine/img/logo_opti-gestion.png' %}" alt="logo_opti-gestion" style="width: 139px;margin-bottom: -23px;margin-top: -26px;">
										</picture>
										
									</div>
									<div class="text media-body">
										<h3>Optimisation des processus de gestion</h3>
										<p style="margin-bottom: 71px;">
											Mise en place de la DSN (Déclaration Sociale Nominative)
										</p>
									</div>
								</div>
								<div class="services text-center">
									<div class="icon mt-2 d-flex justify-content-center align-items-center">
										<picture>
											<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_suiv-plan.webp' %}">
											<source type="image/png" srcset="{% static 'vitrine/img/logo_suiv-plan.png' %}">
											<img src="{% static 'vitrine/img/logo_suiv-plan.png' %}" alt="logo_suiv-plan" style="width: 149px;margin-top: -24px;margin-bottom: -11px;">
										</picture>
										
									</div>
									<div class="text media-body">
										<h3>Suivi du plan d’actions</h3>
										<p style="margin-bottom: 73px;">
											Mise en conformité RGPD
										</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services text-center">
									<div class="icon mt-2 d-flex justify-content-center align-items-center">
										<picture>
											<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_externe.webp' %}">
											<source type="image/png" srcset="{% static 'vitrine/img/logo_externe.png' %}">
											<img src="{% static 'vitrine/img/logo_externe.png' %}" alt="logo_externe" style="    width: 150px;margin-top: 0px;margin-bottom: 2px;">
										</picture>
										
									</div>
									<div class="text media-body">
										<h3>Communication externe et accompagnement du changement</h3>
										<p>
											Mise en place du PASRAU (Prélèvement à la Source pour les Revenus Autres)
										</p>
									</div>
								</div>
								<div class="services text-center">
									<div class="icon mt-2 d-flex justify-content-center align-items-center">
										<picture>
											<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_marketing.webp' %}">
											<source type="image/png" srcset="{% static 'vitrine/img/logo_marketing.png' %}">
											<img src="{% static 'vitrine/img/logo_marketing.png' %}" alt="logo_marketing" style="width: 199px;margin-bottom: -35px;margin-top: -28px;">
										</picture>
										
									</div>
									<div class="text media-body">
										<h3>Stratégie marketing produits</h3>
										<p>
											Mise en conformité du 100% Santé (Reste à charge 0)
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

{% endblock %}