{% extends 'base_vitrine.html' %}
{% load staticfiles %}{% load i18n %}

{% block seo %}
<meta name="Description" content="{% trans 'Découvrez comment pouvons simplifier la sécurité des accès au système d’information de votre établissement.' %}">
<meta property="og:description" content="{% trans 'Découvrez comment pouvons simplifier la sécurité des accès au système d’information de votre établissement.' %}">
<meta property="og:title" content="OXADE Consulting | {% trans 'Risk management sécurité de l’information' %}">
<title>OXADE Consulting | {% trans 'Risk management sécurité de l’information' %}</title>

<link rel="stylesheet" type="text/css" href="{% static 'vitrine/css/offres.css' %}">
<script src="https://kit.fontawesome.com/b7aa201f58.js" crossorigin="anonymous"></script>

{% endblock %}

{% block content %}

<style type="text/css">
	.container_contact_us{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		border:4px solid #d1ebf9;
	}

	.text_contact{
		display: flex;
	    flex-direction: column;
	    align-items: flex-start;
	    justify-content: center;
	}

	.container_bouton{
		display: flex;
	    justify-content: center;
	    flex-direction: column;
	    align-items: center;
	    margin-bottom: 26px;
	}

	.liste_offres{
		margin-top: 0;
	    text-align: left;
	    margin-bottom: 1rem;
	    color: grey;
	}

	.secteurs:hover {
    background: #1b9ce300;
	}

	@media screen and (max-width: 991.98px){
		.container_contact_us {
		    display: flex;
		    flex-direction: row;
		    justify-content: center;
		    border: 4px solid #d1ebf9;
		    flex-wrap: wrap;
		}

		.text_contact {
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		    justify-content: center;
		    text-align: center;
		    padding: 30px;
		}

		.liste_offres {
		    margin-left: 11%;
		}
	}

</style>

<section class="hero-wrap hero-wrap-2 fond-defense">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<h1 class="mb-2 bread">{% trans 'Risk management sécurité de l’information' %} </h1>
			</div>
		</div>
	</div>
</section>



<section style="margin-top: 125px;">
	<div class="container">
		<div class="row no-gutters">
			<a aria-label="Conduite du changement" class="col-lg-6 d-flex test">
				<div class="services-2 noborder-left text-center ftco-animate secteurs">
					<div class="icon mt-2 d-flex justify-content-center align-items-center">
						<picture>
							<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_deploiement.webp' %}">
							<source type="image/png" srcset="{% static 'vitrine/img/logo_deploiement.png' %}">
							<img src="{% static 'vitrine/img/logo_deploiement.png' %}" alt="logo_deploiement" style="width: 89px;"> 
						</picture>
					</div>
					<div class="text media-body" style="display: flex;flex-direction: column;align-items: center;">
						<h3 style="margin-bottom: 29px; color:#013E5B">{% trans 'Risk Management et gouvernance sécurité' %}</h3>
						<ul class="liste_offres">
							<li>{% trans 'Schéma directeur​' %}</li>
							<li>{% trans 'Cartographie des risques​' %}</li>
							<li>{% trans 'Tableaux de bords​' %}</li>
							<li>{% trans 'Sensibilisation' %}</li>
							<li>{% trans 'Création / animation de filière​' %}</li>
							<li>{% trans 'Accompagnement à la certification ISO 27001' %}</li>
							<li>{% trans 'Conformité réglementaire et données à caractère personnel​' %}</li>
						</ul>
					</div>
				</div>
			</a>
			<a aria-label="Fusions et acquisitions" class="col-lg-6 d-flex test">
				<div class="services-2 text-center ftco-animate secteurs">
					<div class="icon mt-2 d-flex justify-content-center align-items-center">
						<picture>
							<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_analyse.webp' %}">
							<source type="image/png" srcset="{% static 'vitrine/img/logo_analyse.png' %}">
							<img src="{% static 'vitrine/img/logo_analyse.png' %}" alt="logo_analyse" style="width: 89px;">
						</picture>
					</div>
					<div class="text media-body" style="display: flex;flex-direction: column;align-items: center;">
						
						<h3 style="margin-bottom: 29px; color:#013E5B">{% trans 'Cybersécurité​' %}</h3>
						<ul class="liste_offres">
							<li>{% trans 'Architecture de sécurité et modèles de protection​' %}</li>
							<li>{% trans 'Sécurité Cloud / Big Data / Mobilité / BYOD / Smart​' %}</li>
							<li>{% trans 'Sécurité SI Industriels' %}</li>
							<li>{% trans 'Audits et test d’intrusion' %}</li>
							<li>{% trans 'Réponse à incidents et gestion de crise' %}</li>
							<li>{% trans 'Surveillance sécurité' %}</li>
							<li>{% trans 'Externalisation sécurité' %}</li>
						</ul>
					</div>
				</div>
			</a>
			<a aria-label="Transformation" class="col-lg-6 d-flex test">
				<div class="services-2 text-center ftco-animate secteurs">
					<div class="icon mt-2 d-flex justify-content-center align-items-center">
						<picture>
							<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_strategie.webp' %}">
							<source type="image/png" srcset="{% static 'vitrine/img/logo_strategie.png' %}">
							<img src="{% static 'vitrine/img/logo_strategie.png' %}" alt="logo_strategie" style="width: 89px;"> 
						</picture>
					</div>
					<div class="text media-body">
						<h3 style="margin-bottom: 29px; color:#013E5B">{% trans 'Continuité d’activité​' %}</h3>
						<ul class="liste_offres">
							<li>{% trans 'Analyse d’impacts et identification des scénarios​' %}</li>
							<li>{% trans 'Construction des plans de continuité utilisateur, métier et SI​' %}</li>
							<li>{% trans 'Réalisation d’exercices de crise et de tests grandeur nature' %}</li>
							<li>{% trans 'Accompagnement à la certification ISO 22301​' %}</li>
						</ul>
					</div>
				</div>
			</a>
			<a aria-label="Sécurité" class="col-lg-6 d-flex test">
				<div class="services-2 noborder-left noborder-bottom text-center ftco-animate secteurs">
					<div class="icon mt-2 d-flex justify-content-center align-items-center">
						<picture>
							<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_communication.webp' %}">
							<source type="image/png" srcset="{% static 'vitrine/img/logo_communication.png' %}">
							<img src="{% static 'vitrine/img/logo_communication.png' %}" alt="logo_communication" style="width: 144px;margin-top: -20px; margin-bottom: -28px;"> 
						</picture>
					</div>
					<div class="text media-body">
						<h3 style="margin-bottom: 29px; color:#013E5B">{% trans 'Identité et confiance numérique' %}</h3>
						<ul class="liste_offres">
							<li>{% trans 'Gestion des identités et des droits d’accès collaborateurs / clients​' %}</li>
							<li>{% trans 'Authentification et biométrie​' %}</li>
							<li>{% trans 'Services de confiance numérique (signature électronique, chiffrement…)​' %}</li>
							<li>{% trans 'Fédération des identités​' %}</li>
						</ul>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>


<section style="margin-top: 125px;margin-bottom: 125px;">
	<div class="container">
		<div class="container_contact_us">
			<div class="container_bouton">
				<picture>
					<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_securite.webp' %}">
					<source type="image/png" srcset="{% static 'vitrine/img/logo_securite.png' %}">
					<img style="width: 351px;" src="{% static 'vitrine/img/logo_securite.png' %}" alt="logo_securite" class="img_offres_secteurs">
				</picture>
				<p>
					<a aria-label="Contactez-nous" href="{% url 'contact' %}" class="btn btn-primary py-3 px-4">{% trans 'Contactez-nous' %}</a>
				</p>
			</div>
			
			<div class="text_contact">
				<h3>{% trans 'Notre vision et notre ambition' %}</h3>
				<p>
					{% trans 'Découvrez comment nous pouvons simplifier la sécurité des accès au système d’information de votre établissement.' %}
				</p>
			</div>
		</div>
	</div>
</section>
<!-- <section class="ftco-section ftco-no-pb">
			<div class="container">
				<div class="row d-flex">
					<div class="col-md-5 order-md-last wrap-about align-items-stretch">
						<div class="wrap-about-border ftco-animate">
							<picture>
								<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_securite.webp' %}">
								<source type="image/png" srcset="{% static 'vitrine/img/logo_securite.png' %}">
								<img src="{% static 'vitrine/img/logo_securite.png' %}" alt="logo_securite" class="img_offres_secteurs">
							</picture>
							
							<div class="text">
								<h3>Notre vision et notre ambition</h3>
								<p>
									L’intelligence artificielle, l’internet des objets ou la réalité augmentée représentent des leviers de différenciation importants pour les sociétés qui souhaitent innover. Toutefois, chaque révolution a son lot de complexité et la hausse de la cybercriminalité, ces dernières années, en est la preuve.
								</p>
								<p>
									Cette menace couplée à la volatilité des données critiques des sociétés conforte mc²i Groupe dans l’idée que la cybersécurité est une composante utile et nécessaire à tout cycle projet.
								</p>
								<p>
									<a aria-label="Contactez-nous" href="{% url 'contact' %}" class="btn btn-primary py-3 px-4">Contactez-nous</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-7 wrap-about pr-md-4 ftco-animate">
						<h2 class="mb-4">Nos domaines d’intervention</h2>
						<p>
							Le domaine de la cybersécurité reste obscur pour le grand public, mais aussi pour grand nombre d’entreprises.Il devient désormais primordial d’acculturer les employés aux risques de cyberattaques et d’inscrire ces démarches dans la conduite du changement de chaque projet afin d’aboutir à une adoption plus large et plus rapide des bonnes pratiques.
						</p>
						<div class="row mt-5">
							<div class="col-lg-6">
								<div class="services text-center">
									<div class="icon mt-2 d-flex justify-content-center align-items-center">
										<picture>
											<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_solutions.webp' %}">
											<source type="image/png" srcset="{% static 'vitrine/img/logo_solutions.png' %}">
											<img src="{% static 'vitrine/img/logo_solutions.png' %}" alt="logo_solutions" style="width: 149px;margin-top: -16px;">
										</picture>
										
									</div>
									<div class="text media-body">
										<h3>Mise en place de plans de sécurité</h3>
										<p>
											Accompagner ces plans en respectant les normes et directives (PSSI, RGPD, LPM, ANSSI…),
										</p>
									</div>
								</div>
								<div class="services text-center">
									<div class="icon mt-2 d-flex justify-content-center align-items-center">
										<picture>
											<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_cybersecurite.webp' %}">
											<source type="image/png" srcset="{% static 'vitrine/img/logo_cybersecurite.png' %}">
											<img src="{% static 'vitrine/img/logo_cybersecurite.png' %}" alt="logo_cybersecurite" style="width: 139px;margin-top: -16px;margin-bottom: -5px;">
										</picture>
										
									</div>
									<div class="text media-body">
										<h3>Des solutions de cybersécurité</h3>
										<p style="margin-bottom: 45px;">
											Conseiller à les choisir et les déployer.
										</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services text-center">
									<div class="icon mt-2 d-flex justify-content-center align-items-center">
										<picture>
											<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_referentiel.webp' %}">
											<source type="image/png" srcset="{% static 'vitrine/img/logo_referentiel.png' %}">
											<img src="{% static 'vitrine/img/logo_referentiel.png' %}" alt="logo_referentiel" style="width: 144px;margin-top: -32px;margin-bottom: -30px;">
										</picture>
										
									</div>
									<div class="text media-body">
										<h3>Mise en place de référentiels de sécurité</h3>
										<p>
											Accompagner les RSSI (Responsables Sécurité des Systèmes d’Information) dasn cette mise en place
										</p>
									</div>
								</div>
								<div class="services text-center">
									<div class="icon mt-2 d-flex justify-content-center align-items-center">
										<picture>
											<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_industriel.webp' %}">
											<source type="image/png" srcset="{% static 'vitrine/img/logo_industriel.png' %}">
											<img src="{% static 'vitrine/img/logo_industriel.png' %}" alt="logo_industriel" style="    width: 109px;margin-top: -19px;margin-bottom: 27px;">
										</picture>
										
									</div>
									<div class="text media-body">
										<h3>Environnements industriels</h3>
										<p>
											Garantir le déploiement de solutions de cybersécurité dans ces environnements
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
 -->
{% endblock %}