{% extends 'base_vitrine.html' %}
{% load staticfiles %}

{% block seo %}
<meta name="Description" content="Conseil stratégique et opérationnel en systèmes d'information">
<meta property="og:description" content="Conseil stratégique et opérationnel en systèmes d'information">
<meta property="og:title" content="Oxade | Sécurité">
<title>Oxade | Sécurité</title>

<link rel="stylesheet" type="text/css" href="{% static 'vitrine/css/offres.css' %}">
<script src="https://kit.fontawesome.com/b7aa201f58.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap" rel="stylesheet"> 

{% endblock %}

{% block content %}



<section class="hero-wrap hero-wrap-2 fond-defense">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<h1 class="mb-2 bread">Sécurité</h1>
				<p class="breadcrumbs">
					<span class="mr-2">
						<a aria-label="Offres" href="{% url 'index_vitrine' %}#offres">Offres <i class="fas fa-chevron-right"></i></a>
					</span>
					<span>Sécurité <i class="fas fa-chevron-right"></i></span>
				</p>
			</div>
		</div>
	</div>
</section>
<section class="ftco-section ftco-no-pb" style="margin-bottom: 115px;">
			<div class="container">
				<div class="row d-flex">
					<div class="col-md-5 order-md-last wrap-about align-items-stretch">
						<div class="wrap-about-border ftco-animate">
							<picture>
								<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_securite.webp' %}">
								<source type="image/png" srcset="{% static 'vitrine/img/logo_securite.png' %}">
								<img src="{% static 'vitrine/img/logo_securite.png' %}" alt="logo_securite" style="    width: 285px;margin-left: 45px;margin-bottom: 29px;margin-top: 33px;">
							</picture>
							
							<div class="text">
								<h3>Notre vision et notre ambition</h3>
								<p>
									L’intelligence artificielle, l’internet des objets ou la réalité augmentée représentent des leviers de différenciation importants pour les sociétés qui souhaitent innover. Toutefois, chaque révolution a son lot de complexité et la hausse de la cybercriminalité, ces dernières années, en est la preuve.
								</p>
								<p>
									Cette menace couplée à la volatilité des données critiques des sociétés conforte mc²i Groupe dans l’idée que la cybersécurité est une composante utile et nécessaire à tout cycle projet.
								</p>
								<p>
									<a aria-label="Contactez-nous" href="{% url 'contact' %}" class="btn btn-primary py-3 px-4">Contactez-nous</a>
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-7 wrap-about pr-md-4 ftco-animate">
						<h2 class="mb-4">Nos domaines d’intervention</h2>
						<p>
							Le domaine de la cybersécurité reste obscur pour le grand public, mais aussi pour grand nombre d’entreprises.Il devient désormais primordial d’acculturer les employés aux risques de cyberattaques et d’inscrire ces démarches dans la conduite du changement de chaque projet afin d’aboutir à une adoption plus large et plus rapide des bonnes pratiques.
						</p>
						<div class="row mt-5">
							<div class="col-lg-6">
								<div class="services text-center">
									<div class="icon mt-2 d-flex justify-content-center align-items-center">
										<picture>
											<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_solutions.webp' %}">
											<source type="image/png" srcset="{% static 'vitrine/img/logo_solutions.png' %}">
											<img src="{% static 'vitrine/img/logo_solutions.png' %}" alt="logo_solutions" style="width: 149px;margin-top: -16px;">
										</picture>
										
									</div>
									<div class="text media-body">
										<h3>Mise en place de plans de sécurité</h3>
										<p>
											Accompagner ces plans en respectant les normes et directives (PSSI, RGPD, LPM, ANSSI…),
										</p>
									</div>
								</div>
								<div class="services text-center">
									<div class="icon mt-2 d-flex justify-content-center align-items-center">
										<picture>
											<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_cybersecurite.webp' %}">
											<source type="image/png" srcset="{% static 'vitrine/img/logo_cybersecurite.png' %}">
											<img src="{% static 'vitrine/img/logo_cybersecurite.png' %}" alt="logo_cybersecurite" style="width: 139px;margin-top: -16px;margin-bottom: -5px;">
										</picture>
										
									</div>
									<div class="text media-body">
										<h3>Des solutions de cybersécurité</h3>
										<p style="margin-bottom: 45px;">
											Conseiller à les choisir et les déployer.
										</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services text-center">
									<div class="icon mt-2 d-flex justify-content-center align-items-center">
										<picture>
											<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_referentiel.webp' %}">
											<source type="image/png" srcset="{% static 'vitrine/img/logo_referentiel.png' %}">
											<img src="{% static 'vitrine/img/logo_referentiel.png' %}" alt="logo_referentiel" style="width: 144px;margin-top: -32px;margin-bottom: -30px;">
										</picture>
										
									</div>
									<div class="text media-body">
										<h3>Mise en place de référentiels de sécurité</h3>
										<p>
											Accompagner les RSSI (Responsables Sécurité des Systèmes d’Information) dasn cette mise en place
										</p>
									</div>
								</div>
								<div class="services text-center">
									<div class="icon mt-2 d-flex justify-content-center align-items-center">
										<picture>
											<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_industriel.webp' %}">
											<source type="image/png" srcset="{% static 'vitrine/img/logo_industriel.png' %}">
											<img src="{% static 'vitrine/img/logo_industriel.png' %}" alt="logo_industriel" style="    width: 109px;margin-top: -19px;margin-bottom: 27px;">
										</picture>
										
									</div>
									<div class="text media-body">
										<h3>Environnements industriels</h3>
										<p>
											Garantir le déploiement de solutions de cybersécurité dans ces environnements
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

{% endblock %}