{% extends 'base_vitrine.html' %}
{% load staticfiles %}{% load i18n %}
{% block seo %}
<meta name="Description" content="{% trans 'OXADE Consulting se présente comme une société indépendante de tout acteur du marché des systèmes d’information (éditeur, intégrateur, prestataire de service...) et apporte ainsi son objectivité, plus particulièrement dans les projets d’ingénierie à base de progiciels.'%}">
<meta property="og:description" content="{% trans 'OXADE Consulting se présente comme une société indépendante de tout acteur du marché des systèmes d’information (éditeur, intégrateur, prestataire de service...) et apporte ainsi son objectivité, plus particulièrement dans les projets d’ingénierie à base de progiciels.'%}">
<meta property="og:title" content="OXADE Consulting | {% trans 'À propos de nous'%}">
<title>OXADE Consulting | {% trans 'À propos de nous'%}</title>


<link rel="stylesheet" href="{% static 'vitrine/css/a_propos.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'vitrine/css/accueil.css' %}">
<script src="https://kit.fontawesome.com/b7aa201f58.js" crossorigin="anonymous"></script>
{% endblock %}
{% block content %}

<style type="text/css">
	.liste_offres{
		margin-top: 0;
	    text-align: left;
	    margin-bottom: 1rem;
	    color: grey;
	}

	.secteurs:hover {
    background: #1b9ce300;
	}

</style>
<section class="hero-wrap hero-wrap-2 fond-defense">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<h1 class="mb-2 bread">{% trans 'Qui sommes nous ?' %} </h1>
				<p class="breadcrumbs">
					<span class="mr-2">
						<a href="{% url 'index_vitrine' %}">{% trans 'Accueil' %} <i class="fas fa-chevron-right"></i></a>
					</span>
					<span>{% trans 'Qui sommes nous ?' %} <i class="fas fa-chevron-right"></i></span>
				</p> 
			</div>
		</div>
	</div>
</section>



<section class="ftco-section ftco-counter" style="padding: 4em 0;">
	<div class="container">
		<div class="row justify-content-center pb-2 d-flex">
			
			<div style="margin-top: 13px;" class="col-md-10 heading-section ftco-animate pl-lg-5 pt-md-0 pt-5 fadeInUp ftco-animated">
				<h2 style="text-align: center;margin-bottom: 33px;">{% trans 'Notre positionnement' %}</h2>
				<h3 style="margin-bottom: 20px;">{% trans ' Une société indépendante' %} </h3>
				<p>
					OXADE Consulting est un cabinet de conseil ayant plus de 25 années d’expérience.
				</p>
				<p>
					Nous intervenons dans le cadre de projets et de programmes de transformation, d’accompagnement de nos clients sur des sujets de stratégie et de gouvernance et en pilotage de projets autour des Systèmes d’information.
				</p>
				<p>
					Notre approche se veut avant tout basée sur l'humain.
				</p>
				<p>
					Nous sommes persuadés que bien des difficultés peuvent être vaincues et des challenges gagnés par l'instauration de relations de confiance et la mise en place d'objectifs communs ou de valeurs partagées.
				</p>
				<p>
					Nos consultants sont avant tout des facilitateurs. Savoir, Savoir-faire et Savoir-être sont plus que jamais les piliers des hommes et des femmes d’OXADE Consulting.
				</p>
				<p>
					Nous nous retrouvons pleinement dans l’étymologie du mot « conseil », qui vient du latin « consilium - consiliaris » et qui signifie ‘avis donné ou demandé sur ce qu’il convient de faire’.
				</p>

			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-counter" style="padding: 4em 0; padding-top: 0;">
	<div class="container">
		<div class="row justify-content-center pb-2 d-flex">
			
			<div style="margin-top: 13px;" class="col-md-10 heading-section ftco-animate pl-lg-5 pt-md-0 pt-5 fadeInUp ftco-animated">				
				<h3 style="margin-bottom: 20px;">{% trans 'L’écosystème d’OXADE Consulting' %}</h3>
				<p>
					La complexité croissante des systèmes, les exigences des utilisateurs, le nombre de plus en plus important d'acteurs, conduisent à ce qu'aucun opérateur, fut-il international, ne puisse en toute circonstance répondre seul aux appels d'offres qui émanent des grands donneurs d'ordres.</br></br>

					OXADE CONSULTING a compris depuis de nombreuses années qu'il était nécessaire de s'associer pour répondre au mieux aux besoins de ses clients.</br></br>

					C'est pourquoi OXADE CONSULTING a mis en place un réseau de partenariats solides, fondés sur une longue expérience.</br></br>

					Chaque partenaire apporte son expertise sous le pilotage unique d’OXADE Consulting qui est et reste maître des opérations qui lui sont confiées par ses clients, et assume donc l'entière responsabilité de l'opération et du suivi de la prestation.
				</p>

			</div>		
		</div>
	</div>
</section>
<section style="margin-bottom:100px;">
	<div class="container">
		<div class="row no-gutters">
			<a aria-label="Conduite du changement" class="col-lg-6 d-flex test">
				<div class="services-2 noborder-left text-center ftco-animate secteurs" style="border: 1px solid rgba(0, 0, 0, .05);border-top: 0;border-left: 0;">
					<div class="text media-body" style="display: flex;flex-direction: column;align-items: center;">
						<h3 style="margin-bottom: 16px; color:#013E5B">{% trans 'Relations Clients' %}</h3>
						<p class="liste_offres">
							{% trans 'Nos relations avec nos clients s’inscrivent dans un véritable « partenariat » d’enrichissement mutuel et de relations saines et transparentes (Accords-cadres, récurrence de nos prestations). Nous nous retrouvons pleinement dans l’étymologie du mot « conseil », qui vient du latin « consilium - consiliaris », ce qui signifie avis donné ou demandé sur ce qu’il convient de faire. L’activité de conseil n’existe que dans une relation Client-Conseil.' %}
						</p>
					</div>
				</div>
			</a>
			<a aria-label="Fusions et acquisitions" class="col-lg-6 d-flex test">
				<div class="services-2 text-center ftco-animate secteurs" style="border: 1px solid rgba(0, 0, 0, .05);border-top: 0;border-right: 0;">
					<div class="text media-body" style="display: flex;flex-direction: column;align-items: center;">
						
						<h3 style="margin-bottom: 16px; color:#013E5B">{% trans 'Compétences' %}</h3>
						<p class="liste_offres">
							{% trans 'OXADE Consulting se positionne en tant qu’Expert des Systèmes d’Information, en osmose avec l’Expertise dans vos métiers. De plus, nous savons construire des équipes projet pluridisciplinaires (axe Métier - axe Organisation - axe Système d’Information - axe architecture et solutions informatiques).' %}
						</p>
					</div>
				</div>
			</a>
			<a aria-label="Transformation" class="col-lg-6 d-flex test">
				<div class="services-2 text-center ftco-animate secteurs" style="border: 1px solid rgba(0, 0, 0, .05);border-bottom: 0;border-left: 0;">
					<div class="text media-body">
						<h3 style="margin-bottom: 16px; color:#013E5B">{% trans 'Pérennité' %}</h3>
						<p class="liste_offres">
							{% trans 'OXADE Consulting existe depuis 1993 et peut se targuer d’avoir traversé avec succès des périodes parfois très difficiles pour nos métiers. Sa pérennité est donc établie et ne représente aucun facteur de risque.' %}
						</p>
					</div>
				</div>
			</a>
			<a aria-label="Sécurité" class="col-lg-6 d-flex test">
				<div class="services-2 noborder-left noborder-bottom text-center ftco-animate secteurs" style="border: 1px solid rgba(0, 0, 0, .05);border-bottom: 0;border-right: 0;">
					<div class="text media-body">
						<h3 style="margin-bottom: 16px; color:#013E5B">{% trans 'Réactivité' %}</h3>
						<p class="liste_offres">
							{% trans 'Sa taille est un atout par la réactivité qui l’accompagne, notamment dans des périodes de fortes fluctuations économiques.' %}
						</p>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>

<section class="ftco-intro ftco-no-pb img fond-webp">
	<div class="container">
		<div class="row justify-content-center mb-5">
			<div class="col-md-10 text-center heading-section heading-section-white ftco-animate">
				<h2 class="mb-0">{% trans 'Oxade consulting ?' %}</h2>
			</div>
		</div>
	</div>
</section>


{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% if LANGUAGE_CODE == 'fr' %}

<section class="ftco-counter" id="section-counter" style="margin-bottom: 68px;">
	<div class="container">
		<div class="row d-md-flex align-items-center justify-content-center">
			<div class="wrapper">
				<div class="row d-md-flex align-items-center">
					{% for nombre in chiffre %}
					<div class="col-md d-flex justify-content-center counter-wrap ftco-animate" style="text-align: center;">
						<div class="block-18">
							<div class="icon">
								<span class="flaticon-doctor"></span>
							</div>
							<div class="text">
								<strong class="number" data-number="{{ nombre.nombre }}">0</strong>
								<span>{{ nombre.nom }}</span>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>

{% else %}
	
<section class="ftco-counter" id="section-counter" style="margin-bottom: 68px;">
	<div class="container">
		<div class="row d-md-flex align-items-center justify-content-center">
			<div class="wrapper">
				<div class="row d-md-flex align-items-center">
					{% for nombre in chiffre_en %}
					<div class="col-md d-flex justify-content-center counter-wrap ftco-animate" style="text-align: center;">
						<div class="block-18">
							<div class="icon">
								<span class="flaticon-doctor"></span>
							</div>
							<div class="text">
								<strong class="number" data-number="{{ nombre.nombre }}">0</strong>
								<span>{{ nombre.nom }}</span>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>

{% endif %}


{% endblock %}
