{% extends 'base_vitrine.html' %}
{% load staticfiles %}
{% block seo %}
<meta name="Description" content="Conseil stratégique et opérationnel en systèmes d'information">
<meta property="og:description" content="Conseil stratégique et opérationnel en systèmes d'information">
<meta property="og:title" content="Oxade | A propos">
<title>Oxade | A propos</title>


<link rel="stylesheet" href="{% static 'vitrine/css/a_propos.css' %}">
<script src="https://kit.fontawesome.com/b7aa201f58.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap" rel="stylesheet"> 
{% endblock %}
{% block content %}


<section class="hero-wrap hero-wrap-2 fond-defense">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<h1 class="mb-2 bread">À propos de nous</h1>
				<p class="breadcrumbs">
					<span class="mr-2">
						<a href="{% url 'index_vitrine' %}">Accueuil<i class="fas fa-chevron-right"></i></a>
					</span>
					<span>À propos de nous<i class="fas fa-chevron-right"></i></span>
				</p> 
			</div>
		</div>
	</div>
</section>



<section class="ftco-section ftco-counter">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-2 d-flex">
			
			<div class="col-md-6 heading-section ftco-animate pl-lg-5 pt-md-0 pt-5 fadeInUp ftco-animated">
				<h2 class="mb-4">Lorem ipsum dolor sit amet.</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam leo neque, dictum a fringilla a, volutpat eget ligula. Donec mattis auctor dolor a elementum. Vivamus nibh nunc, porttitor non mattis a, vestibulum at arcu. Nulla vulputate ornare feugiat. Nulla in ligula eu purus fermentum rutrum eu eget est. Pellentesque vel efficitur diam.
				</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam leo neque, dictum a fringilla a, volutpat eget ligula. Donec mattis auctor dolor a elementum.
				</p>
			</div>
			<div class="col-md-6 align-items-stretch d-flex">
				<div class="img img-video d-flex align-items-center fond-defense">
					<div class="video justify-content-center">
						<a aria-label="video-youtube" href="https://www.youtube.com/watch?v=BnrDJq1V4bw" class="icon-video popup-vimeo d-flex justify-content-center align-items-center"><i class="fas fa-play-circle play_button"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
