{% extends 'base_vitrine.html' %} 
{% load staticfiles %} {% load i18n %}

{% block seo %}

{% endblock %}

{% block link %}
{% endblock %}

{% block content %}

<div style="display: flex;flex-wrap: wrap;">
<img src="{% static 'vitrine/img/capture_oxade_consulting_tel.png' %}"/>
<img src="{% static 'vitrine/img/discours.png' %}"/>
<img src="{% static 'vitrine/img/drapeau_anglais.png' %}"/>
<img src="{% static 'vitrine/img/fleche_blanche.png' %}"/>
<img src="{% static 'vitrine/img/fond_consulting.png' %}"/>
<img src="{% static 'vitrine/img/fond_defense.png' %}"/>
<img src="{% static 'vitrine/img/fond_immeuble.png' %}"/>
<img src="{% static 'vitrine/img/fond_immeubles.png' %}"/>
<img src="{% static 'vitrine/img/fond_nous_rejoindre.png' %}"/>
<img src="{% static 'vitrine/img/fond_pont1.png' %}"/>
<img src="{% static 'vitrine/img/fond_reunion.png' %}"/>
<img src="{% static 'vitrine/img/logo_acquisition.png' %}"/>
<img src="{% static 'vitrine/img/logo_amoa.png' %}"/>
<img src="{% static 'vitrine/img/logo_analyse.png' %}"/>
<img src="{% static 'vitrine/img/logo_architecture.png' %}"/>
<img src="{% static 'vitrine/img/logo_assistance.png' %}"/>
<img src="{% static 'vitrine/img/logo_assurance.png' %}"/>
<img src="{% static 'vitrine/img/logo_banque.png' %}"/>
<img src="{% static 'vitrine/img/logo_cadenat.png' %}"/>
<img src="{% static 'vitrine/img/logo_chgmt.png' %}"/>
<img src="{% static 'vitrine/img/logo_coaching.png' %}"/>
<img src="{% static 'vitrine/img/logo_communication.png' %}"/>
<img src="{% static 'vitrine/img/logo_competences.png' %}"/>
<img src="{% static 'vitrine/img/logo_conduite.png' %}"/>
<img src="{% static 'vitrine/img/logo_conseil.png' %}"/>
<img src="{% static 'vitrine/img/logo_croissance.png' %}"/>
<img src="{% static 'vitrine/img/logo_cybersecurite.png' %}"/>
<img src="{% static 'vitrine/img/logo_deploiement.png' %}"/>
<img src="{% static 'vitrine/img/logo_digital.png' %}"/>
<img src="{% static 'vitrine/img/logo_diminution.png' %}"/>
<img src="{% static 'vitrine/img/logo_divers2.png' %}"/>
<img src="{% static 'vitrine/img/logo_diversification.png' %}"/>
<img src="{% static 'vitrine/img/logo_energie.png' %}"/>
<img src="{% static 'vitrine/img/logo_english.png' %}"/>
<img src="{% static 'vitrine/img/logo_excellence.png' %}"/>
<img src="{% static 'vitrine/img/logo_experience-client.png' %}"/>
<img src="{% static 'vitrine/img/logo_experience.png' %}"/>
<img src="{% static 'vitrine/img/logo_externe.png' %}"/>
<img src="{% static 'vitrine/img/logo_fiole.png' %}"/>
<img src="{% static 'vitrine/img/logo_fleche.png' %}"/>
<img src="{% static 'vitrine/img/logo_france.png' %}"/>
<img src="{% static 'vitrine/img/logo_fusions.png' %}"/>
<img src="{% static 'vitrine/img/logo_industriel.png' %}"/>
<img src="{% static 'vitrine/img/logo_interactions.png' %}"/>
<img src="{% static 'vitrine/img/logo_logistique.png' %}"/>
<img src="{% static 'vitrine/img/logo_management-projets.png' %}"/>
<img src="{% static 'vitrine/img/logo_management.png' %}"/>
<img src="{% static 'vitrine/img/logo_maquette.png' %}"/>
<img src="{% static 'vitrine/img/logo_marche.png' %}"/>
<img src="{% static 'vitrine/img/logo_marketing.png' %}"/>
<img src="{% static 'vitrine/img/logo_o_oxade.png' %}"/>
<img src="{% static 'vitrine/img/logo_opti-gestion.png' %}"/>
<img src="{% static 'vitrine/img/logo_optimisation.png' %}"/>
<img src="{% static 'vitrine/img/logo_oxade.png' %}"/>
<img src="{% static 'vitrine/img/logo_oxade_1.png' %}"/>
<img src="{% static 'vitrine/img/logo_performance.png' %}"/>
<img src="{% static 'vitrine/img/logo_personas.png' %}"/>
<img src="{% static 'vitrine/img/logo_personnalisation.png' %}"/>
<img src="{% static 'vitrine/img/logo_piloter.png' %}"/>
<img src="{% static 'vitrine/img/logo_projets.png' %}"/>
<img src="{% static 'vitrine/img/logo_prototypage.png' %}"/>
<img src="{% static 'vitrine/img/logo_public.png' %}"/>
<img src="{% static 'vitrine/img/logo_referentiel.png' %}"/>
<img src="{% static 'vitrine/img/logo_reglementaire.png' %}"/>
<img src="{% static 'vitrine/img/logo_rouages.png' %}"/>
<img src="{% static 'vitrine/img/logo_securite.png' %}"/>
<img src="{% static 'vitrine/img/logo_solutions.png' %}"/>
<img src="{% static 'vitrine/img/logo_strategie.png' %}"/>
<img src="{% static 'vitrine/img/logo_suiv-plan.png' %}"/>
<img src="{% static 'vitrine/img/logo_synergie.png' %}"/>
<img src="{% static 'vitrine/img/logo_telecom.png' %}"/>
<img src="{% static 'vitrine/img/logo_transformation-performance.png' %}"/>
<img src="{% static 'vitrine/img/logo_transformation-strategique.png' %}"/>
<img src="{% static 'vitrine/img/logo_transformation.png' %}"/>
<img src="{% static 'vitrine/img/o_oxade.png' %}"/>
<img src="{% static 'vitrine/img/o_oxade_nav.png' %}"/>
<img src="{% static 'vitrine/img/oxade_consulting.png' %}"/>
<img src="{% static 'vitrine/img/photo_president.jpg' %}"/>
<img src="{% static 'vitrine/img/secteurs_banniere.png' %}"/>
<img src="{% static 'vitrine/img/logo_oxade.svg' %}"/>

</div>

{% endblock %}