{% extends 'base_vitrine.html' %}
{% load staticfiles %}{% load i18n %}

{% block seo %}
<meta name="Description" content="{% trans 'Une question ? Contactez-nous :' %}">
<meta property="og:description" content="{% trans 'Une question ? Contactez-nous :' %}">
<meta property="og:title" content="OXADE Consulting | {% trans 'Contact' %}">
<title>OXADE Consulting | {% trans 'Contact' %}</title>

<link rel="stylesheet" type="text/css" href="{% static 'vitrine/css/contact.css' %}">
<script src="https://kit.fontawesome.com/b7aa201f58.js" crossorigin="anonymous"></script> 
{% endblock %}

{% block content %}

<section class="hero-wrap hero-wrap-2 fond-contact">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<h1 class="mb-2 bread">{% trans 'Contact' %} </h1>
				<p class="breadcrumbs">
					<span class="mr-2">
						<a href="{% url 'index_vitrine' %}">{% trans 'Accueil' %} <i class="fas fa-chevron-right"></i></a>
					</span>
					<span>{% trans 'Contact' %} <i class="fas fa-chevron-right"></i></span>
				</p> 
			</div>
		</div>
	</div>
</section>
<section class="ftco-section contact-section">
	<div class="container">
		<div class="row d-flex mb-5 contact-info justify-content-center">
			<div class="col-md-8">
				<div class="row mb-5">
					<div class="col-md-4 text-center py-4">
						<div class="icon">
							<i class="fas fa-map-marked"></i>
						</div>
						<p>
							<span>{% trans 'Adresse :' %}</span>
							 10, rue Notre-Dame de Lorette - 75009 PARIS
						</p>
					</div>
					<div class="col-md-4 text-center border-height py-4">
						<div class="icon">
							<i class="fas fa-phone-alt"></i>
						</div>
						<p>
							<span>{% trans 'Téléphone :' %}</span>
							<span><a href="tel:+33142829938">01 42 82 99 38</a></span>
						</p>
					</div>
					<div class="col-md-4 text-center py-4">
						<div class="icon">
							<i class="fas fa-paper-plane"></i>
						</div>
						<p>
							<span>{% trans 'Mail :' %}</span>
							<a href="mailto:oxade@oxade.com">oxade@oxade.com</span></a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row block-9 justify-content-center mb-5" style="margin-bottom: 0!important;">
			<div class="col-md-8 mb-md-5" >
				<h2 class="text-center">{% trans 'Une question ? Contactez-nous :' %}</h2>
				<form action="#" class="bg-light p-5 contact-form" method="POST"> {% csrf_token %}
					<div class="form-group cases">
						<label for="prenom" style="opacity: 0;">A</label>
						<input id="prenom" name="prenom" type="text" class="form-control" placeholder="{% trans 'Votre prenom' %}" autocomplete="off" required="">
					</div>
					<div class="form-group cases">
						<label for="nom" style="opacity: 0;">A</label>
						<input id="nom" name="nom" type="text" class="form-control" placeholder="{% trans 'Votre nom' %}" autocomplete="off" required="">
					</div>
					<div class="form-group cases">
						<label for="tel" style="opacity: 0;">A</label>
						<input id="tel" name="tel" type="tel" class="form-control" placeholder="{% trans 'Votre téléphone' %}" autocomplete="off" required="">
					</div>
					<div class="form-group cases">
						<label for="mail" style="opacity: 0;">A</label>
						<input id="email" name="mail" type="text" class="form-control" placeholder="{% trans 'Votre Email' %}" autocomplete="off" required="">
					</div>
					<div class="form-group cases">
						<label for="titre" style="opacity: 0;">A</label>
						<input id="titre" name="titre" type="text" class="form-control" placeholder="{% trans 'Titre' %}" autocomplete="off" required="">
					</div>
					<div class="form-group cases">
						<label for="message" style="opacity: 0;">A</label>
						<textarea name="message" name="message" id="message" cols="30" rows="7" class="form-control" placeholder="{% trans 'Message' %}" required=""></textarea>
					</div>
					<div class="form-group button_send">
						<label for="envoyer" style="opacity: 0;">A</label>
						<input id="envoyer" name="envoyer" type="submit" value="{% trans 'Envoyer' %}" class="btn btn-primary py-3 px-5" style="padding-left: 3rem!important;padding-right: 3rem!important;">
					</div>
				</form>
			</div>
		</div>
	</div>
</section>


<iframe title="carte" class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2623.9894897199592!2d2.3364049159123588!3d48.87747690731623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e476bc08471%3A0x95324380f110831a!2s10%20Rue%20Notre%20Dame%20de%20Lorette%2C%2075009%20Paris!5e0!3m2!1sfr!2sfr!4v1574074933088!5m2!1sfr!2sfr" width="1500" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>




{% endblock %}
