{% extends 'base_vitrine.html' %} 
{% load staticfiles %} {% load i18n %}

{% block seo %}
<meta name="Description" content="{% trans 'OXADE Consulting se positionne comme un cabinet combinant expertise métier, expertise en systèmes d’information et en organisation. Nous proposons à nos clients des interventions intégrant l’ensemble des enjeux auxquels ils font face avec des solutions sur mesure.' %} ">
<meta property="og:description" content="{% trans 'OXADE Consulting se positionne comme un cabinet combinant expertise métier, expertise en systèmes d’information et en organisation. Nous proposons à nos clients des interventions intégrant l’ensemble des enjeux auxquels ils font face avec des solutions sur mesure.' %} ">
<meta property="og:title" content="{% trans 'OXADE Consulting - Conseil stratégique, métier et opérationnel'%}">
<title>{% trans 'OXADE Consulting | Conseil stratégique, métier et opérationnel'%}</title>

<link rel="stylesheet" type="text/css" href="{% static 'vitrine/css/accueil.css' %}">
<script src="https://kit.fontawesome.com/b7aa201f58.js" crossorigin="anonymous"></script> 
{% endblock %}

{% block link %}
{% endblock %}

{% block content %}

<style>

@media (max-width: 991.98px){
	.owl-carousel.home-slider .slider-item .slider-text h2{
		font-size: 40px !important;
	}
}

.owl-carousel.home-slider .slider-item .slider-text h2{
	font-size: 60px;
	color: #fff;
	line-height: 1.2;
	font-weight: 900;
}


@media screen and (max-width: 991.98px){
	.owl-carousel{
		display:none!important;
	}
	.carousel_tel{
		display:block!important;
	}
}

@media (max-width: 991.98px){
	#marg-t-acceuil-carrousel {
	    margin-top: 0px!important;
	}

	.sauts{
		display: none;
	}
	.logo_oxade
	{
		width: 92px;
	    margin-top: 9px;
	    margin-bottom: 12px;
	}
}

@media screen and (max-width: 767px){
	.textes_carousel{
	    text-align: center;
	    align-items: center;
	    margin-left: 0!important;
	    width: 100%!important;
	}
}

@media screen and (max-width: 459px){
	.sous_titre {
    font-size: 11px!important;
	}
	.titre_accueil_tel {
	    font-size: 32px!important;
	}
}

.carousel_tel{
	display:none;
}

.img_accueil{
	width: 100%;
    height: 615px;
    object-fit: cover;
    position: inherit;
    filter: brightness(0.7);
    z-index: 1;
}

.sous_titre{
    font-size:14px;
	font-weight:700;
	text-transform:uppercase;
}

.textes_carousel{
	position: absolute;
	color: white;
    height: 615px;
    width: 92%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8%;
    z-index: 2;
}

.titre_accueil_tel{
	font-size: 41px;
    color: #fff;
    line-height: 1.2;
    font-weight: 900;
    width: 80%;
}

/*.sous_titre {
    font-size: 10px;
}
.titre_accueil_tel {
    font-size: 26px;
}
*/

</style>

<section id="accueil-carrousel-tel" class="home-slider owl-carousel">
	<div class="slider-item fond-webp">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
				<div class="col-md-7 ftco-animate">
					<span class="subheading">{% trans 'Le cœur de métier d’OXADE' %}</span>
					<h1 class="mb-4">{% trans 'Conseil stratégique, métier et opérationnel' %}</h1>
					<p>
						<a aria-label="Nos secteurs" href="#secteurs" class="btn btn-primary px-4 py-3 mt-3">{% trans 'Nos prestations' %}</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item fond-webp-2">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
				<div class="col-md-7 ftco-animate">
					<span class="subheading">{% trans 'Domaines fonctionnels' %}</span>
					<h2 class="mb-4 titre_accueil">{% trans 'Une maîtrise des grandes fonctions de l’entreprise' %}</h2>
					<p>
						<a aria-label="Nos offres" href="{% url 'a_propos' %}" class="btn btn-primary px-4 py-3 mt-3">{% trans 'Qui sommes nous ?' %}</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="carousel_tel"> 

	<div class="textes_carousel">
		<span class="sous_titre">{% trans 'Le cœur de métier d’OXADE' %}</span>
		<h2 class="mb-4 titre_accueil_tel">{% trans 'Conseil stratégique, métier et opérationnel' %}</h2>
		<p>
			<a aria-label="Nos secteurs" href="#secteurs"  class="btn btn-primary px-4 py-3 mt-3">{% trans 'Nos prestations' %}</a>
		</p>

	</div>
	
	<picture>
			<source type="image/webp" srcset="{% static 'vitrine/img/webp/fond_consulting.webp' %}">
			<source type="image/png" srcset="{% static 'vitrine/img/fond_consulting.png' %}">
			<img class="img_accueil" alt="fond_consulting_tel" src ="{% static 'vitrine/img/fond_consulting.png' %}">
	</picture>
	
</section>

<section id="marg-t-acceuil-carrousel" class="ftco-section">
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-12 wrap-about pr-md-4 ftco-animate">
				<h2 id="secteurs" class="mb-4 titre_secteurs_index">{% trans 'Nos prestations' %}</h2>
                <p class="titre_secteurs_index">
                    {% trans 'OXADE Consulting se positionne comme un cabinet combinant expertise métier, expertise en systèmes d’information et en organisation. Nous proposons à nos clients des interventions intégrant l’ensemble des enjeux auxquels ils font face avec des solutions sur mesure.' %} 
                </p>
				<div class="row mt-5">
					<div class="col-lg-4">

						<a aria-label="Public" href="{% url 'coaching' %}" class="services text-center" style="height: 350px!important;">
							<div class="icon mt-2 d-flex justify-content-center align-items-center">
								<picture>
									<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_public.webp' %}">
									<source type="image/png" srcset="{% static 'vitrine/img/logo_public.png' %}">
									<img style="width:66px; margin-bottom: 8px;" alt="logo-public" src="{% static 'vitrine/img/logo_public.png' %}">
								</picture>
							</div>
							<div class="text media-body">
								<h3>{% trans 'Coaching' %}</h3>
								<p class="color_grey">
									{% trans 'Nous proposons un processus d’accompagnement et de facilitation qui vise à vous permettre de trouver vous-même la solution à une problématique professionnelle opérationnelle ou managériale' %}
									{% get_current_language as LANGUAGE_CODE %}
						            {% get_available_languages as LANGUAGES %}
						            {% get_language_info_list for LANGUAGES as languages %}
						            {% if LANGUAGE_CODE == 'fr' %}
											<br class="sauts"><br class="sauts"><br class="sauts">
									{% else %}
											<br class="sauts"><br class="sauts">
									{% endif %}
								</p>
							</div>
						</a>
					</div>
					<div class="col-lg-4">
						
						<a aria-label="Assurance" href="{% url 'amoa' %}" class="services text-center" style="height: 350px!important;">
							<div class="icon mt-2 d-flex justify-content-center align-items-center">
								<picture>
									<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_assurance.webp' %}">
									<source type="image/png" srcset="{% static 'vitrine/img/logo_assurance.png' %}">
									<img style="width:47px; margin-bottom: 20px;" alt="logo-assurance"src="{% static 'vitrine/img/logo_assurance.png' %}">
								</picture>
							</div>
							<div class="text media-body">
								<h3>{% trans 'AMOA' %}</h3>
								<p class="color_grey">
									{% trans 'Des équipes soudées par un bon esprit, au service d’un même objectif : la réussite des projets de nos clients.' %}
								</p>
							</div>
						</a>
					</div>
					<div class="col-lg-4">
						<a aria-label="Banque" href="{% url 'index_vitrine' %}" class="services text-center" style="height: 350px!important;">
							<div class="icon mt-2 d-flex justify-content-center align-items-center">
								<picture>
									<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_banque.webp' %}">
									<source type="image/png" srcset="{% static 'vitrine/img/logo_banque.png' %}">
									<img class="logo_banque" alt="logo-banque" src="{% static 'vitrine/img/logo_banque.png' %}">
								</picture>
							</div>
							<div class="text media-body">
								<h3>{% trans 'Formation' %}</h3>
								<p class="color_grey">
									{% trans 'Dans un contexte où l’univers financier doit faire face à des bouleversements majeurs, nous vous accompagnons dans l’évolution des modèles économiques.' %}
									{% get_current_language as LANGUAGE_CODE %}
						            {% get_available_languages as LANGUAGES %}
						            {% get_language_info_list for LANGUAGES as languages %}
						            {% if LANGUAGE_CODE == 'fr' %}
											<br class="sauts"><br class="sauts">
									{% else %}
											<br class="sauts"><br class="sauts"><br class="sauts">
									{% endif %}
								</p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section id="tel_modif"class="ftco-intro ftco-no-pb img fond-webp" style="margin-top: 100px;margin-bottom: 50px;">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-10 text-center heading-section heading-section-white ftco-animate">
				<h2 class="mb-0">{% trans 'Discours du président' %}</h2>
			</div>
		</div>
	</div>
</section>

<section class="discours_president" style="margin-bottom: 60px;">
	<div class="div_photo_discours_president">
		<picture>
			<source type="image/webp" srcset="{% static 'vitrine/img/webp/photo_president.webp' %}">
			<source type="image/png" srcset="{% static 'vitrine/img/photo_president.jpg' %}">
			<img src="{% static 'vitrine/img/photo_president.png' %}" alt="image_president" class="img_discours_president" style="width:100%;">
		</picture>
	</div>
	<div class="div_texte_discours_president">
		<div class="texte_discours_president">
			{% trans '2020 est une année charnière pour OXADE Consulting. Nouvelle organisation, nouveau logo, nouveau site, nouvelles ambitions… J’ai réuni autour de moi une nouvelle équipe de gouvernance pour faire d’OXADE Consulting un acteur incontournable. Les relations d’OXADE Consulting avec ses clients se sont toujours inscrites dans un véritable « partenariat » d’enrichissement mutuel et de relations saines et transparentes. Nous continuerons de travailler avec vous et pour vous en ce sens. OXADE Consulting est et restera une société indépendante. Le capital d’OXADE Consulting est détenu par la nouvelle équipe dirigeante. Cette indépendance, notre neutralité, nos Consultants, notre réseau de partenaires sont et resteront de réels points forts pour OXADE Consulting.' %}
		</div>
	</div>
</section>
{% endblock %}