{% extends 'base_vitrine.html' %}
{% load staticfiles %}{% load i18n %}

{% block seo %}
<meta name="Description" content="{% trans 'Bienvenue ! Merci de proposer votre candidature.' %}">
<meta property="og:description" content="{% trans 'Bienvenue ! Merci de proposer votre candidature.' %}">
<meta property="og:title" content="Oxade Consulting | {% trans 'Nous rejoindre' %}">
<title>{% trans 'Nous rejoindre' %} | Oxade Consulting</title>

<link rel="stylesheet" type="text/css" href="{% static 'vitrine/css/contact.css' %}">
<script src="https://kit.fontawesome.com/b7aa201f58.js" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

<section class="hero-wrap hero-wrap-2 fond-nous-rejoindre">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<h1 class="mb-2 bread">{% trans 'Nous rejoindre' %} </h1>
				<p class="breadcrumbs">
					<span class="mr-2">
						<a href="{% url 'index_vitrine' %}">{% trans 'Accueil' %} <i class="fas fa-chevron-right"></i></a>
					</span>
					<span>{% trans 'Nous rejoindre' %} <i class="fas fa-chevron-right"></i></span>
				</p> 
			</div>
		</div>
	</div>
</section>


<style type="text/css">

#conteneur
{
    display: flex;
    justify-content: center;
}

@media (min-width: 767.98px){
.element{
	display: flex;
    justify-content: center;
    width: 50%;
}
.div-b2-2{
	width: 100%;
    max-width: 601px;
    height: 100%;
    padding: 25px;
}

}


@media (max-width: 767.98px){
.ftco-counter .img-video {
    height: 300px;
    margin-bottom: 20px;
}
.element{
	display: flex;
    justify-content: center;
    width: 100%;
}
.div-b2-2{
	width: 100%;
    max-width: 601px;
    height: 100%;
}

.draganddrop{
	padding-top: 45px;
    padding-left: 30px;
    padding-bottom: 70px;
}


.block-9 h2 {
    margin-bottom: 0px!important;
}
}
.container_expertise{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.liste_offres{
	margin-top: 0;
	text-align: left;
	margin-bottom: 1rem;
	color: grey;
}

.secteurs:hover {
    background: #1b9ce300;
}

.espaces_button{
	margin-top: -40px;
}

@media screen and (max-width: 991.98px){
	.espaces_button{
		margin-top: 0px!important;
	}
}
</style>

<!-- <section class="ftco-section ftco-counter" style="padding-bottom: 0">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-2 d-flex">
			<div class="col-md-6 align-items-stretch d-flex">
				<div class="img img-video d-flex align-items-center fond-defense">
					<div class="video justify-content-center">
						<a href="https://www.youtube.com/watch?v=BnrDJq1V4bw" class="icon-video popup-vimeo d-flex justify-content-center align-items-center"><i class="fas fa-play-circle play_button"></i></a></a>
					</div>
				</div>
			</div>
			<div class="col-md-6 heading-section ftco-animate pl-lg-5 pt-md-0 pt-5 fadeInUp ftco-animated">
				<h2 class="mb-4">Lorem ipsum dolor sit amet </h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur odio quam, sollicitudin at molestie ut, luctus ac enim. Suspendisse egestas lacinia dolor a sollicitudin. Donec efficitur, felis ac scelerisque semper, massa lorem facilisis lacus, eget faucibus sapien diam ut ex. Donec quis mattis odio, in fringilla elit.Ut accumsan felis a est fringilla hendrerit. Mauris ornare elit ac diam sagittis faucibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur odio quam, sollicitudin at molestie ut, luctus ac enim. 
				</p>
			</div>
		</div>
	</div>
</section> -->

<section style="margin-top: 75px;">
	<div class="container">
		<div class="container_expertise">
			<h3>{% trans 'Notre expertise' %}</h3>
			<p style="text-align: center;">
				{% trans 'Vous souhaitez nous rejoindre ?' %}<br><br>
				{% trans 'Nos postes sont à pourvoir sur Paris et la Région Parisienne.' %}<br>
				{% trans 'Nos postes sont des recherches permanentes.' %}
			</p>
		</div>
	</div>
</section>



<section style="margin-top: 25px;">
	<div class="container">
		<h3 style="text-align: center;">{% trans 'Consultants en Systèmes d’Information' %}</h3>
		<div class="row no-gutters">
			<a aria-label="Conduite du changement" class="col-lg-6 d-flex test">
				<div class="services-2 noborder-left text-center ftco-animate secteurs">
					<div class="icon mt-2 d-flex justify-content-center align-items-center">
						<picture>
							<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_maquette.webp' %}">
							<source type="image/png" srcset="{% static 'vitrine/img/logo_maquette.png' %}">
							<img src="{% static 'vitrine/img/logo_maquette.png' %}" alt="logo_maquette" style="width: 137px;"> 
						</picture>
					</div>
					<div class="text media-body" style="display: flex;flex-direction: column;align-items: center;">
						<h3 style="margin-bottom: 17px; color:#013E5B">{% trans 'Vos futures missions' %}</h3>
						<p style="text-align: left;">
							{% trans 'Vous participez à l’accompagnement de nos clients dans leurs projets de transformation et d’évolution en matière de Systèmes d’Information, dans des contextes à fort enjeu.' %} <br><br>

							{% trans 'Vous évoluerez dans des secteurs où Oxade apporte son savoir-faire et son expertise à ses clients : secteur public, assurance, banque, énergie, télécommunication, transport et logistique.' %}<br><br>

							{% trans 'Vous contribuez à la réalisation de missions de conseil et d’assistance à maîtrise d’ouvrage en termes de :' %}
						</p>

						<ul style="text-align: left;">
							<li>{% trans 'Assistance à maîtrise d’ouvrage dans les phases amont d’instruction fonctionnelle : études d’opportunité, études préalables, analyse des besoins, élaboration de cahiers des charges, conception de dispositifs de Systèmes d’Information, définition de l’architecture fonctionnelle,' %}</li>
							<li>{% trans 'Urbanisation de Systèmes d’Information,' %}</li>
							<li>{% trans 'Conduite d’appels d’offres et participation au choix de solutions,' %}</li>
							<li>{% trans 'Pilotage de projets de Systèmes d’Information,' %}</li>
							<li>{% trans 'Conseil stratégique, Audit et préconisations,' %}</li>
							<li>{% trans 'Conduite du changement, Organisation.' %}</li>
						</ul>

						<p style="text-align: left;">
							{% trans 'Outre la production de missions, vous êtes associé(e) aux actions d’avant-vente.' %}
						</p>
					</div>
				</div>
			</a>
			<a aria-label="Conduite du changement" class="col-lg-6 d-flex test">
				<div class="services-2 noborder-left text-center ftco-animate secteurs">
					<div class="icon mt-2 d-flex justify-content-center align-items-center">
						<picture>
							<source type="image/webp" srcset="{% static 'vitrine/img/webp/logo_assistance.webp' %}">
							<source type="image/png" srcset="{% static 'vitrine/img/logo_assistance.png' %}">
							<img src="{% static 'vitrine/img/logo_assistance.png' %}" alt="logo_assistance" style="    width: 103px;margin-bottom: 27px;margin-top: 11px;"> 
						</picture>
					</div>
					<div class="text media-body" style="display: flex;flex-direction: column;align-items: center;">
						<h3 style="margin-bottom: 17px; color:#013E5B">{% trans 'Votre profil-type' %}</h3>
						<p style="text-align: left;">
							{% trans 'Bac + 4 / 5, vous bénéficiez d’une expérience significative d’au moins 5 ans au service de projets d’envergure et au contact d’interlocuteurs de haut niveau, et vous avez acquis à ce titre une bonne connaissance générale de projets de Systèmes d’Information de gestion.' %} <br><br>

							{% trans 'Vous avez une bonne connaissance générale des problématiques et des solutions liées aux Systèmes d’Information : modélisation de processus, urbanisation, conception, interopérabilité… Vous possédez une bonne compétence en conception et maîtrisez les méthodes (UML, Merise) et outils de conception et de modélisation associés. Une connaissance et une pratique de ITIL et des méthodes agiles sera appréciée.' %}<br><br>

							{% trans 'Vos atouts : une expertise métier (fonctionnel, sectoriel), une expérience avant-vente.' %}<br>
							{% trans 'Être consultant requiert également de réelles qualités relationnelles et rédactionnelles. Vous êtes méthodique et analytique, votre esprit d’équipe et votre sens du client feront la différence.' %}<br><br>

							{% trans 'Au-delà de la très bonne compétence, l’esprit d’équipe, le sens du service, le goût pour les contacts humains et la rigueur, sont des atouts forts pour progresser au sein d’Oxade Consulting.' %}

						</p>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>




<section class=" contact-section padding_section" style="margin-top: 75px;"> 
	<div class="container">
		<h2 class="text-center">{% trans 'Bienvenue ! Merci de proposer votre candidature.' %}</h2>
		<div class="row block-9 justify-content-center mb-5" id="conteneur">
				<form enctype="multipart/form-data" method="post" style="display: contents;"> {% csrf_token %}
				    <div class="element">
				    	<div class="div-b2-2">
				    	<div class="bg-light p-5 contact-form">
									<h2 class="text-center">{% trans 'Informations générales' %}</h2>
									<div class="form-group cases">
										<label for="Nom" style="opacity: 0;">A</label>
										<input id="Nom" name="nom" type="text" class="form-control" placeholder="{% trans 'Nom & Prénom*' %}" required="">
									</div>
									<div class="form-group cases">
										<label for="Email" style="opacity: 0;">A</label>
										<input id="Email" name="email" type="email" class="form-control" placeholder="{% trans 'Mail*' %}" required="">
									</div>
									<div class="form-group cases">
										<label for="tel" style="opacity: 0;">A</label>
										<input id="tel" name="tel" type="tel" class="form-control" placeholder="{% trans 'Téléphone' %}">
									</div>
									
								</div>
							</div>
				    </div>
				    <div class="element">
				    	<div class="div-b2-2">
				    	<div class="bg-light p-5 contact-form">
									<h2 class="text-center" style="margin-bottom: 0px;">{% trans 'CV / Lettre de motivation' %}</h2>
									<div class="form-group cases" style="margin-top: 69px;">	
										<label for="cv" style="opacity: 1;">{% trans 'Déposer son CV' %}</label>	
										<input style="padding-top: 32px;padding-left: 30px;padding-bottom: 58px;" type="file" id="cv" name="cv" accept="image/png, image/jpeg" class="form-control draganddrop" required="">										
									</div>
									<div class="form-group cases">	
										<label for="lettre" style="opacity: 1;">{% trans 'Déposer sa lettre de motivation' %}</label>	
										<input style="padding-top: 32px;padding-left: 30px;padding-bottom: 58px;" type="file" id="lettre" name="lettre" accept="image/png, image/jpeg" class="form-control draganddrop" required="">										
									</div>
								</div>
							</div>
				    </div>
				    <div class="form-group button_send espaces_button" style="width: 95%;">
						<label for="boutton" style="opacity: 0;">A</label>
						<button id="boutton" type="submit" value="Envoyer" name="envoyer" class="btn btn-primary py-3 px-5" style="border-radius: 4px!important;width: 100%">{% trans 'Envoyer' %}</button>
					</div>
				</form>
		</div>
	</div>
</section>


<section class="ftco-section contact-section padding_section" style="padding-top: 0">
	<div class="container">
		<div class="row d-flex mb-5 contact-info justify-content-center">
			<div class="col-md-8">
				<div class="row mb-5">
					<div class="col-md-4 text-center py-4">
						<div class="icon">
							<i class="fas fa-map-marked"></i>
						</div>
						<p>
							<span>{% trans 'Adresse :' %}</span>
							 10, rue Notre-Dame de Lorette - 75009 PARIS
						</p>
					</div>
					<div class="col-md-4 text-center border-height py-4">
						<div class="icon">
							<i class="fas fa-phone-alt"></i>
						</div>
						<p>
							<span>{% trans 'Téléphone :' %}</span>
							<span><a href="tel:+33142829938">01 42 82 99 38</a></span>
						</p>
					</div>
					<div class="col-md-4 text-center py-4">
						<div class="icon">
							<i class="fas fa-paper-plane"></i>
						</div>
						<p>
							<span>{% trans 'Mail :' %}</span>
							<a href="mailto:oxade@oxade.com">oxade@oxade.com</span></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<iframe title="map" class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2623.9894897199592!2d2.3364049159123588!3d48.87747690731623!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e476bc08471%3A0x95324380f110831a!2s10%20Rue%20Notre%20Dame%20de%20Lorette%2C%2075009%20Paris!5e0!3m2!1sfr!2sfr!4v1574074933088!5m2!1sfr!2sfr" width="1500" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>




{% endblock %}
